.page-faq__section {
  padding: 40px 0;

  @include tablet {
    padding: 88px 0;
  }
  @include desktop-first {
    padding: 80px 0 124px;
  }
}

.page-faq__search-text {
  font-size: 16px;
  line-height: 1.5;

  @include tablet {
    font-size: 20px;
  }
}

.page-faq__form {
  position: relative;
  margin: 24px 0 56px;

  max-width: 820px;
}

.page-faq__search-input {
  padding: 20px 40px 20px 56px;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid $primary;
  border-radius: 20px;

  &::placeholder {
    color: #979797;
  }

  @include tablet {
    padding: 20px 48px 20px 72px;
  }
}

.page-faq__search-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  color: $primary;
  & svg {
    stroke: currentColor;
  }

  @include tablet {
    left: 24px;
  }
}

.page-faq__clear-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);

  color: $primary;

  transition: color 300ms $cubic-bezier;

  & svg {
    stroke: currentColor;
  }

  &:hover,
  &:focus {
    color: $error;
  }
}

.faq__content-list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  max-width: 1000px;

  &--disk {
    padding-left: 20px;
    list-style: disc;
  }
}

.register-steps__step-link--blue {
  color: #1d40b8;
}

.table {
  max-width: 1000px;
  border-collapse: collapse;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;

  & th:nth-child(n + 2) {
    width: 37.5%;
  }

  & th {
    font-weight: 600;
    font-size: 14px;
    color: $secondary;
    background-color: #1b7fc4;
  }

  & th,
  & td {
    padding: 4px;
    border: 2px solid #97becc;
  }

  @include tablet {
    font-size: 16px;

    & th {
      font-size: 20px;
    }

    & th,
    & td {
      padding: 16px;
      border-width: 4px;
    }
  }

  @include desktop-first {
    padding: 24px;
  }
}
