<section class="individual-nuances">
  <div class="individual-nuances__container">
    <div class="individual-nuances__box--pregeneral">
      <h2 class="individual-nuances__title">
        Ведення підтверджуючих документів щодо витрат
      </h2>
      <p class="individual-nuances__text">
        Так, підтверджуючі документи витрат волонтера доводять цільове
        використання зібраних коштів, і таке підтвердження може знадобиться як
        для держави, з метою звільнення волонтера від оподаткування, так і для
        людей, які перераховували волонтерам гроші і хочуть отримати звіт про їх
        використання. Найкращим варіантом для волонтера є такий, коли придбання
        товарів, ліків, обладнання для армії або осіб, які потребують допомоги,
        підтверджено накладними, актами приймання-передачі, відомостями
        отримання благодійної допомоги, іншими первинними документами.
      </p>
      <p class="individual-nuances__text">
        А якщо документи неможливо отримати…. у такому випадку особі краще мати
        фото і відео-підтвердження, на що були витрачені доходи і куди передані.
        Крім цього, можна не мати підтверджуючих документів щодо волонтерських
        надходжень та витрат, здійснених у період з 24 лютого по 1 травня 2022
        року. Однак за збори, які проходили після 1 травня минулого року,
        потрібно бути готовим відзвітувати перед податківцями та за необхідності
        надати їм усі необхідні документи
      </p>
    </div>

    <div class="individual-nuances__box--general">
      <div class="individual-nuances__box--withp">
        <div class="individual-nuances__box box-reverse">
          <div class="individual-nuances-box__image-thumb">
            <picture class="individual-nuances-box__card--image">
              <source
                srcset="
                  ./images/individual-nuances/nuances-book_desktop_1x.jpg 1x,
                  ./images/individual-nuances/nuances-book_desktop_2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/individual-nuances/nuances-book_tablet_1x.jpg 1x,
                  ./images/individual-nuances/nuances-book_tablet_2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/individual-nuances/nuances-book_mobile_1x.jpg 1x,
                  ./images/individual-nuances/nuances-book_mobile_2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 767px)"
              />
              <img
                class="individual-nuances-box__card--image"
                src="./images/individual-nuances/nuances-book_mobile_1x.jpg"
                alt="nuances-book"
              />
            </picture>
          </div>
          <div class="individual-nuances-box__list--withtitle">
            <h4 class="individual-nuances-box__list--title">
              Укладання договору про надання волонтерської допомоги
            </h4>
            <p class="individual-nuances-box__list--text">
              Відповідно до
              <span
                ><a href="http://zakon5.rada.gov.ua/laws/show/3236-17"
                  >статті 10 Закону України "Про волонтерську діяльність"</a
                ></span
              >, договір про надання волонтерської допомоги в обов’язковому
              порядку укладається за бажанням отримувача волонтерської допомоги.
            </p>
            <p class="individual-nuances-box__list--text">
              Перед тим, як подати документи слід знати які саме документи
              необхідні. <span>У випадку фізичних осіб волонтерів, це:</span>
            </p>
            <ul class="individual-nuances-box__list">
              <li class="individual-nuances-box__list--item-custom">
                Копія паспорту
              </li>
              <li class="individual-nuances-box__list--item-custom">
                Копія витягу про місце реєстрації
              </li>
              <li class="individual-nuances-box__list--item-custom">
                Копія ІНН
              </li>
              <li class="individual-nuances-box__list--item-custom">
                <span><a href="https://bit.ly/3Tl0K24">Заява</a></span> за
                формою 1-Р
              </li>
            </ul>
            <p class="individual-nuances-box__list--text">
              <span><a href="https://bit.ly/3VN2rHw">Довідка</a></span> з банку
              (-ів) форми 4-РВ з реквізитами рахунку призначеного для
              благодійної діяльності на ім’я волонтера
            </p>
          </div>
        </div>
        <p class="individual-nuances-box__list--text">
          Плюсом реєстрації в Реєстрі волонтерів та укладання договору є те, що
          волонтерам для провадження волонтерської діяльності можуть бути
          відшкодовані витрати на відрядження на території України та за кордон.
        </p>
      </div>

      <div class="individual-nuances__box--withp">
        <div class="individual-nuances__box">
          <div class="individual-nuances-box__image-thumb">
            <picture class="individual-nuances-box__card--image">
              <source
                srcset="
                  ./images/individual-nuances/nuances-aid_desktop_1x.jpg 1x,
                  ./images/individual-nuances/nuances-aid_desktop_2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/individual-nuances/nuances-aid_tablet_1x.jpg 1x,
                  ./images/individual-nuances/nuances-aid_tablet_2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/individual-nuances/nuances-aid_mobile_1x.jpg 1x,
                  ./images/individual-nuances/nuances-aid_mobile_2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 767px)"
              />
              <img
                class="individual-nuances-box__card--image"
                src="./images/individual-nuances/nuances-aid_mobile_1x.jpg"
                alt="nuances-aid"
              />
            </picture>
          </div>
          <div class="individual-nuances-box__list--withtitle">
            <h4 class="individual-nuances-box__list--title">
              Волонтеру можуть бути відшкодовані підтверджені документами:
            </h4>
            <ul class="individual-nuances-box__list">
              <li class="individual-nuances-box__list--item-custom">
                витрати на проїзд (включаючи перевезення багажу) до місця
                здійснення волонтерської діяльності;
              </li>
              <li class="individual-nuances-box__list--item-custom">
                витрати на отримання візи;
              </li>
              <li class="individual-nuances-box__list--item-custom">
                витрати на харчування, коли волонтерська діяльність триває
                більше 4 годин на добу;
              </li>
              <li class="individual-nuances-box__list--item-custom">
                витрати на проживання у разі відрядження волонтера до іншого
                населеного пункту для провадження волонтерської діяльності, що
                триватиме більше 8 годин;
              </li>
              <li class="individual-nuances-box__list--item-custom">
                витрати на поштові та телефонні послуги, якщо волонтер здійснює
                волонтерську діяльність поза межами місцезнаходження
                волонтерської організації;
              </li>
              <li class="individual-nuances-box__list--item-custom">
                витрати на проведення медичного огляду, вакцинації та інших
                лікувально-профілактичних заходів, безпосередньо пов'язаних з
                наданням волонтерської допомоги.
              </li>
            </ul>
          </div>
        </div>
        <p class="individual-nuances-box__list--text">
          Відшкодування витрат, може здійснюватися за рахунок коштів державного
          та місцевих бюджетів - у разі укладення з ними договору про надання
          волонтерської допомоги, міжнародних програм, або установи,
          організації, з якою волонтер уклав договір про провадження
          волонтерської діяльності, а також за рахунок інших джерел
          фінансування, не заборонених законодавством.
        </p>
      </div>

      <div class="individual-nuances__box--withp">
        <div class="individual-nuances__box box-reverse">
          <div class="individual-nuances-box__image-thumb">
            <picture class="individual-nuances-box__card--image">
              <source
                srcset="
                  ./images/individual-nuances/nuances-storage_desktop_1x.jpg 1x,
                  ./images/individual-nuances/nuances-storage_desktop_2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/individual-nuances/nuances-storage_tablet_1x.jpg 1x,
                  ./images/individual-nuances/nuances-storage_tablet_2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/individual-nuances/nuances-storage_mobile_1x.jpg 1x,
                  ./images/individual-nuances/nuances-storage_mobile_2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 767px)"
              />
              <img
                class="individual-nuances-box__card--image"
                src="./images/individual-nuances/nuances-storage_mobile_1x.jpg"
                alt="nuances-storage"
              />
            </picture>
          </div>
          <div class="individual-nuances-box__list--withtitle">
            <h4 class="individual-nuances-box__list--title">
              Договір про надання волонтерської допомоги має містити:
            </h4>
            <ul class="individual-nuances-box__list">
              <li class="individual-nuances-box__list--item-custom">
                опис волонтерської допомоги (завдання);
              </li>
              <li class="individual-nuances-box__list--item-custom">
                період провадження волонтерської допомоги;
              </li>
              <li class="individual-nuances-box__list--item-custom">
                права та обов’язки сторін;
              </li>
              <li class="individual-nuances-box__list--item-custom">
                відповідальність за заподіяння збитків.
              </li>
            </ul>
            <p class="individual-nuances-box__list--text">
              Договір про надання волонтерської допомоги укладається в письмовій
              формі.
              <span
                ><a
                  href="https://www.medsprava.com.ua/article/2463-dogovr-pro-nadannya-volontersko-dopomogi-zrazok?from=statbloc_topmenu_link"
                  >Приклад договору про надання волонтерської допомоги</a
                ></span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
