@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  color: $primary;
  font-family: $main-font;
  font-size: 20px;
  $main-font-weight: 400;
  line-height: 1.5;
}

.section {
  padding: 100px 30px;
}
