body {
  color: $primary;
  font-family: $main-font;
  font-size: 20px;
  font-weight: $main-font-weight;
  line-height: 1.5;
}

.section {
  padding: 40px 0;

  @include tablet {
    padding: 80px 0;
  }

  &--light-green {
    background-color: $bg_secondary;
  }
}

button {
  padding: 0;
  background-color: inherit;
  border: none;
}

.section__zero {
  padding-top: 0;
  @include desktop-first {
    padding-top: 124px;
  }
}
