body {
  color: $primary;
  font-family: $main-font;
  font-size: 20px;
  font-weight: $main-font-weight;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.section {
  padding: 100px 0;

  &--light-green {
    background-color: $bg_secondary;
  }
}

button {
  padding: 0;
  background-color: inherit;
  border: none;
}

.section__zero {
  padding-top: 0;
  @include desktop-first {
    padding-top: 124px;
  }
}
