// colors
$primary: #272727;
$dark: #000000;
$secondary: #ffffff;
$accent_green: #1ad079;
$accent_blue: #1d40b8;
$bg_primary: #b9b9b9;
$bg_secondary: #c1efd9;
$card_bg_green: #e1f8f8;
$card_bg_blue: #e5eafb;
$footer_dark: #1d1b1c;
$footer_very_dark: #121011;
$button_disabled_bg_green: #68bf95;
$button_disabled_bg_blue: #5970bd;
$button_disabled_text_color: #bbbbbb;
$error: #ff3737;
$placeholder: #979797;


// fonts
$main-font: 'Inter', sans-serif;
$main-font-weight: 400;

//  animation
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

// form input elements
$input-box-shadow: rgba(158, 158, 158, 0.25);
$input-label-text-color:  #9b9faa;
$input-activetext-color: rgba(33, 37, 41, 0.8);
$input-border-color: #bdbdbd;
$input-border-unactive: #e0e0e0;
$input-bgcolor-white: #ffffff;
