<section class="apply">
  <div class="apply__container">
    <h2 class="apply__title">
      Хто може подавати заявку на гранти для організацій
    </h2>
    <p class="apply__text">
      Це залежить від конкретного конкурсу та грантодавця, але зазвичай у сфері
      культури та креативних індустрій це:
    </p>
    <div class="apply__box">
      <ul class="apply-box__list">
        <li class="apply-box__list--item-with-icon">
          незалежні культурні інституції;
        </li>
        <li class="apply-box__list--item-with-icon">
          неприбуткові громадські організації;
        </li>
        <li class="apply-box__list--item-with-icon">благодійні фонди;</li>
        <li class="apply-box__list--item-with-icon">
          муніципальні та державні установи (наприклад, бібліотеки, будинки
          культури, університети);
        </li>
        <li class="apply-box__list--item-with-icon">ФОПи;</li>
        <li class="apply-box__list--item-with-icon">
          приватні організації — ПП та ТОВ (допускаються рідко, краще про це
          уточнити у грантодавців конкретного конкурсу).
        </li>
      </ul>
      <div class="apply-box__image-thumb">
        <picture class="apply-box__card--image">
          <source
            srcset="
              ./images/apply-grants/love-ua_desktop_1x.jpg 1x,
              ./images/apply-grants/love-ua_desktop_2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/apply-grants/love-ua_tablet_1x.jpg 1x,
              ./images/apply-grants/love-ua_tablet_2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/apply-grants/love-ua_mobile_1x.jpg 1x,
              ./images/apply-grants/love-ua_mobile_2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            class="apply-box__card--image"
            src="./images/apply-grants/love-ua_mobile_1x.jpg"
            alt="love ua"
          />
        </picture>
      </div>
    </div>
    <div class="apply__subtitle--box">
      <div class="apply__subtitle--box__svg">
        <svg>
          <use href="./images/status/icon-status.svg#icon-attention"></use>
        </svg>
      </div>
      <h3 class="apply__subtitle status-description__item--title">Важливо!</h3>
    </div>

    <p class="apply__text">
      Щоб організація була зареєстрованою в Україні та мала право отримувати
      грантову допомогу. Цю інформацію можна перевірити у статуті організації
      або ж уточнити у свого бухгалтера. 
    </p>
    <div class="apply__box box-reverse">
      <div class="apply-box__list--withtitle">
        <p class="apply-box__list--title">Є й ті, хто технічно не може брати участі у більшості культурних грантових програм:</p>
        <ul class="apply-box__list">
          <li class="apply-box__list--item-with-icon second-icon">політичні партії;</li>
          <li class="apply-box__list--item-with-icon second-icon">релігійні громади;</li>
          <li class="apply-box__list--item-with-icon second-icon">фізичні особи, які не мають чіткого юридичного статусу;</li>
          <li class="apply-box__list--item-with-icon second-icon">спільноти людей, які вже реалізують певні проєкти, але юридично ніяк не зареєстровані.</li>
        </ul>
      </div>
      <div class="apply-box__image-thumb">
        <picture class="apply-box__card--image">
          <source
            srcset="
              ./images/apply-grants/flags_desktop_1x.jpg 1x,
              ./images/apply-grants/flags_desktop_2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/apply-grants/flags_tablet_1x.jpg 1x,
              ./images/apply-grants/flags_tablet_2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/apply-grants/flags_mobile_1x.jpg 1x,
              ./images/apply-grants/flags_mobile_2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            class="apply-box__card--image"
            src="./images/apply-grants/flags_mobile_1x.jpg"
            alt="flags"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
