<div>
  <p class="faq__text">
    <b>До плюсів некомерційних організацій можна віднести наступні:</b>
  </p>

  <ul class="faq__content-list">
    <li class="faq__content-item">
      <span class="faq__text"
        >- попри заходів соціального, НКО можуть проводити комерційну діяльність
        з метою досягнення поставлених цілей;</span
      >
    </li>
    <li class="faq__content-item">
      <span class="faq__text"
        >- у більшості випадків, НКО мають фактично рівні умови існування з
        комерційними організаціями, проте, користуються державними
        пільгами;</span
      >
    </li>
    <li class="faq__content-item">
      <span class="faq__text">- НКО можуть скористатися переходом на УСН;</span>
    </li>
    <li class="faq__content-item">
      <span class="faq__text">- звітність надається у спрощеному вигляді;</span>
    </li>
    <li class="faq__content-item">
      <span class="faq__text"
        >- компанія не зобов’язана подавати звіти щодо зміни капіталу;</span
      >
    </li>
    <li class="faq__content-item">
      <span class="faq__text"
        >- державні пільги, що надаються у вигляді коштів, не обкладаються
        податком.</span
      >
    </li>
  </ul>
</div>

<div>
  <p class="faq__text">
    Попри переконливий перелік переваг,
    <b
      >зареєстровані некомерційних організацій також мають свої негативні
      сторони:</b
    >
  </p>

  <ul class="faq__content-list">
    <li class="faq__content-item">
      <span class="faq__text"
        >- реальна діяльність компанії не може виходити за рамки, прописані у
        внутрішніх документах;</span
      >
    </li>
    <li class="faq__content-item">
      <span class="faq__text"
        >- реєстрація є досить складною процедурою, для кожного виду збирається
        окремий індивідуальний пакет документів;</span
      >
    </li>
    <li class="faq__content-item">
      <span class="faq__text"
        >- заявник несе повну відповідальність за достовірність інформації щодо
        обраного шляху діяльності, при цьому, кожен пункт суворо перевіряється
        Мінюстом.</span
      >
    </li>
  </ul>
</div>

<p class="faq__text">
  Варто також зауважити, кошти з державного бюджету надходять некомерційним
  організаціям на здійснення окремих проєктів, програм, заходів.  У ряді
  випадків між некомерційними організаціями та державою встановлюються
  довгострокові контрактні угоди. Укладення таких контрактів відбувається на
  конкурсній основі.Проте, поки кошти з державного бюджету надходять
  некомерційним організаціям стихійно і безсистемно. Їх отримання часто залежить
  від особистої домовленості керівників тієї чи іншої некомерційної організації
  з представниками органів державної влади. Така основа не завжди може бути
  міцною.
</p>
