<p class="faq__text">
  Є два законних способи проводити збір грошової допомоги чи донатів на особисту
  картку волонтера офіційно і без сплати передбачених чинним законодавством
  податків.
</p>

<ul class="faq__content-list">
  <li class="faq__content-item">
    <p class="faq__text">
      <b>1 Спосіб: </b> зареєструвати благодійну організацію (благодійний фонд)
      чи громадську організацію та отримувати кошти на рахунки цього фонду чи
      організації. 
    </p>
  </li>
  <li class="faq__content-item">
    <p class="faq__text">
      <b> 2 Спосіб:</b>  внести відомості про фізичну особу-волонтера до Єдиного
      Реєстру волонтерів – базу даних осіб, які допомагають захисникам і
      постраждалим громадянам нашої країни з 2014 року.  
    </p>
  </li>
</ul>

<div>
  <p class="faq__text">
    Для звільнення від оподаткування грошових надходжень на особисту картку
    особи, яка займається волонтерською діяльністю, фізична особа – волонтер має
    виконати обов’язкові умови:
  </p>

  <ul class="faq__content-list--disk">
    <li class="faq__content-item">
      <span class="faq__text">
        фізична особа має бути включена в офіційний Єдиний Реєстр волонтерів,
        який ведеться Державною Податковою Службою України;
      </span>
    </li>
    <li class="faq__content-item">
      <span class="faq__text">
        кошти мають надходити не на будь-який рахунок фізичної особи, а виключно
        на той рахунок, інформація про який внесена до Реєстру волонтерів;
      </span>
    </li>
    <li class="faq__content-item">
      <span class="faq__text">
        отримані кошти мають бути фактично використані виключно на цілі,
        визначені в пп.165.1.54 статті 165 ПКУ, або на документально
        підтверджені витрати благодійників, пов’язані з благодійною діяльністю;
      </span>
    </li>
    <li class="faq__content-item">
      <span class="faq__text">
        фізична особа-волонтер має подати звітність до податкової служби України
        та в «Декларації про майновий стан і доходи» вказати суму отриманих на
        волонтерську діяльність коштів, з можливістю підтвердження, на що
        витрачені ці кошти.
      </span>
    </li>
  </ul>
</div>
