<table class="table">
  <tr>
    <th>Критерії</th>
    <th>благодійна організація</th>
    <th>громадське об'єднання</th>
  </tr>
  <tr>
    <td>Законодавство</td>
    <td>Закон «Про благодійну діяльність та благодійні організації»</td>
    <td>Закон «Про громадські об’єднання»</td>
  </tr>
  <tr>
    <td>Основна мета</td>
    <td>Благодійна діяльність</td>
    <td>Захист прав і свобод, задоволення суспільних та інших інтересів</td>
  </tr>
  <tr>
    <td>Членство</td>
    <td>Як фізичні, так і юридичні особи (залежно від виду)</td>
    <td>Як фізичні, так і юридичні особи (залежно від виду)</td>
  </tr>
  <tr>
    <td>Мінімальна кількість засновників</td>
    <td>1</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Кошти та майно</td>
    <td>
      Розмір адміністративних витрат благодійної організації не може
      перевищувати 20 % доходу цієї організації у поточному році
    </td>
    <td>
      Всі кошти або майно, які отримує громадська організація, мають
      використовуватись виключно на цілі, визначені в статуті цієї організації
    </td>
  </tr>
</table>
<p class="faq__text">
  Отже, благодійні організації та громадські об’єднання у більшості питань
  досить подібні. Ключовою відмінністю є їх основна мета: БО націлена на
  благодійну діяльність, а ГО — на об’єднання зусиль для вирішення певних
  питань.
</p>
