<div>
  <p class="faq__text">
    Відповідно до
    <a
      class="register-steps__step-link register-steps__step-link--blue link"
      href="https://zakon.rada.gov.ua/laws/show/5073-17#n101"
      ><b
        >частини 2 статті 14 Закону України «Про благодійну діяльність та
        благодійні організації»</b
      ></a
    >
    установчі документи повинні містити: 
  </p>

  <ul class="faq__content-list--disk">
    <li class="faq__content-item">
      <span class="faq__text">найменування благодійної організації;</span>
    </li>
    <li class="faq__content-item">
      <span class="faq__text">цілі та сфери благодійної діяльності;</span>
    </li>
    <li class="faq__content-item">
      <span class="faq__text"
        >органи управління благодійної організації, їх склад, компетенцію,
        порядок діяльності та прийняття ними рішень;</span
      >
    </li>
    <li class="faq__content-item">
      <span class="faq__text"
        >порядок призначення, обрання або затвердження членів органів управління
        благодійної організації, крім вищого органу управління благодійного
        товариства та благодійного фонду, їх заміщення, зупинення їх
        повноважень, припинення їх повноважень (відкликання);</span
      >
    </li>
    <li class="faq__content-item">
      <span class="faq__text"
        >порядок внесення змін до установчих документів благодійної
        організації;</span
      >
    </li>
    <li class="faq__content-item">
      <span class="faq__text"
        >джерела активів (доходів), порядок контролю і звітності благодійної
        організації;</span
      >
    </li>
    <li class="faq__content-item">
      <span class="faq__text"
        >підстави та порядок припинення благодійної організації, у тому числі
        порядок розподілу активів.</span
      >
    </li>
  </ul>
</div>

<div>
  <p class="faq__text">
    Статут благодійного товариства та благодійного фонду має містити також: 
  </p>

  <ul class="faq__content-list--disk">
    <li class="faq__content-item">
      <span class="faq__text"
        >умови та порядок прийняття до складу учасників благодійного товариства
        чи благодійного фонду;</span
      >
    </li>
    <li class="faq__content-item">
      <span class="faq__text">права та обов’язки учасників;</span>
    </li>
    <li class="faq__content-item">
      <span class="faq__text"
        >умови та порядок виключення учасників зі складу учасників благодійного
        товариства чи благодійного фонду.</span
      >
    </li>
  </ul>
</div>
