<p class="faq__text">
  Так, підтверджуючі документи витрат волонтера доводять цільове використання
  зібраних коштів, і таке підтвердження може знадобиться як для держави, з метою
  звільнення волонтера від оподаткування, так і для людей, які перераховували
  волонтерам гроші та хочуть отримати звіт про їх використання. Найкращим
  варіантом для волонтера є такий, коли придбання товарів, ліків, обладнання для
  армії або осіб, які потребують допомоги, підтверджено накладними, актами
  прийняття-передання, відомостями отримання благодійної допомоги, іншими
  первинними документами. Однак дуже часто надати такі звіти неможливо з
  об’єктивних причин, і в такому випадку волонтеру бажано мати хоча б фото та
  відео докази купівлі та передання обладнання відповідним особам, щоб довести,
  що товари потрапили у потрібні руки.
</p>
