<p class="faq__text">
  Партії виростають із суспільних рухів і організацій. Суспільні рухи та
  організації утворюють те соціальне середовище, в якому діють політичні партії.
  Вони доповнюють дії партій або перешкоджають розповсюдженню їх впливу на
  суспільство, виступають базою для перебудови існуючих партій або появи нових.
</p>
<p class="faq__text">
  Громадська організація має спільні з політичною партією риси та водночас
  суттєво відрізняється від неї. З політичною партією її споріднює
  добровільність об’єднання громадян, наявність організаційної структури та
  діяльність на засадах самоврядування. На відміну від політичної партії
  громадська організація зазвичай не є ідеологічною спільнотою і не ставить собі
  за мету оволодіння державною владою. Головна мета її створення та діяльності
  полягає у задоволенні інтересів і потреб своїх членів. У демократичних
  державах право на свободу об’єднання в політичні партії та громадські
  організації конституційно визнається як одне з найважливіших політичних прав.
  Однак право на свободу об’єднання в політичні партії, а також на оволодіння
  державною владою і на участь у її здійсненні визнається тільки за громадянами,
  тоді як членами громадських організацій можуть бути також іноземні громадяни
  та особи без громадянства.
</p>
