<div>
  <p class="faq__text">
    Для включення до Реєстру неприбуткова організація повинна подати до
    контролюючого органу (<a
      class="register-steps__step-link link"
      href="https://bz.ligazakon.ua/ua/magazine_article/BZ010566"
      >п. 6 Порядку № 440</a
    >):
  </p>

  <ul class="faq__content-list">
    <li class="faq__content-item">
      <span class="faq__text">
        – реєстраційну заяву за формою № 1-РН згідно з
        <a
          class="register-steps__step-link link"
          href="https://bz.ligazakon.ua/ua/magazine_article/BZ010566"
          >додатком 1 до Порядку № 440</a
        >;
      </span>
    </li>
    <li class="faq__content-item">
      <span class="faq__text">
        – засвідчені підписом керівника або представника такої організації та
        скріплені печаткою (за наявності) копії установчих документів
        неприбуткової організації (крім тих, які оприлюднено на порталі
        електронних сервісів відповідно до
        <a
          class="register-steps__step-link link"
          href="https://bz.ligazakon.ua/ua/magazine_article/BZ010566"
          >Закону № 755</a
        >).
      </span>
    </li>
  </ul>
</div>
<p class="faq__text"></p>
<p class="faq__text">
  Житлово-будівельні кооперативи також подають засвідчені підписом керівника або
  представника такого кооперативу та скріплені печаткою (за наявності) копії
  документів, що підтверджують дату прийняття в експлуатацію закінченого
  будівництвом житлового будинку та факт спорудження або придбання такого
  будинку житлово-будівельним (житловим) кооперативом.
</p>
<p class="faq__text">
  Неприбуткові організації, які діють на підставі установчих документів
  організації вищого рівня, відповідно до закону подають також засвідчену
  підписом керівника або представника такої організації та скріплену печаткою
  (за наявності) копію документа, що підтверджує включення до організації вищого
  рівня та надає право діяти на підставі установчих документів такої організації
  вищого рівня.
</p>
<div>
  <p class="faq__text">
    За результатами розгляду реєстраційної заяви та документів, що додаються до
    неї, протягом 14 календарних днів із дня їх отримання контролюючий орган
    приймає рішення про (<a
      class="register-steps__step-link link"
      href="https://bz.ligazakon.ua/ua/magazine_article/BZ010566"
      >п. 8 Порядку № 440</a
    >):
  </p>

  <ul class="faq__content-list">
    <li class="faq__content-item">
      <span class="faq__text">
        – включення, повторне включення, відмову у включенні (повторному
        включенні) неприбуткової організації до Реєстру;
      </span>
    </li>
    <li class="faq__content-item">
      <span class="faq__text">
        – виключення неприбуткової організації з Реєстру;
      </span>
    </li>
    <li class="faq__content-item">
      <span class="faq__text"> – зміну ознаки неприбутковості. </span>
    </li>
  </ul>
</div>
