<p class="faq__text">
  Після реєстрації кожній благодійній чи громадській організації слід отримати
  статус неприбутковості. Він дозволяє не сплачувати податок на прибуток з
  отриманих коштів.  
</p>
<p class="faq__text">
  Державна реєстрація організації ще не означає, що вона отримала статус
  неприбутковості. Включення до
  <a
    class="register-steps__step-link link"
    href="https://cabinet.tax.gov.ua/registers/non-profit"
    >Реєстру неприбуткових організацій</a
  >
  є додатковою процедурою, що здійснюється місцевими управліннями ДПС на
  підставі окремої заяви. Для отримання позитивного рішення ДПС статут
  організації має відповідати вимогам
  <a
    class="register-steps__step-link link"
    href="https://sumy.tax.gov.ua/baner/podatkovi-konsultatsii/konsultatsii-dlya-yuridichnih-osib/print-69743.html"
    >п. 133.4 Податкового кодексу України.</a
  >
</p>
<p class="faq__text">
  До Реєстру включаються неприбуткові організації – юридичні особи за кодом
  згідно з Єдиним державним реєстром юридичних осіб, фізичних осіб – підприємців
  та громадських формувань. З даними реєстру можна ознайомитися на офіційному
  сайті ДФСУ.
</p>
