<p class="faq__text">
  Факт відсутності реєстрації сам по собі не є порушенням законодавства. Головна
  мета реєстрації полягає в тому, щоб запобігти можливим претензіям з боку
  податкової служби, якщо вони вирішать перевірити волонтера особисто.
</p>
<p class="faq__text">
  Податкова служба не має прямого доступу до інформації про грошові перекази на
  рахунки фізичних осіб, тому вона не може встановити, хто отримує гроші і
  звідки вони надходять. Ця інформація доступна тільки банкам, у яких волонтери
  мають рахунки для збору пожертв. Згідно з законодавством, банки зобов'язані
  перевіряти сумнівні транзакції або операції, загальна сума яких перевищує 400
  000 гривень.
</p>
