<p class="faq__text">
  Далеко не кожна БО має право збирати кошти на потреби ЗСУ та закупати для
  наших бійців бронежилети, каски чи тепловізори. Для цього в статуті БО має
  бути прямо прописана така сфера благодійної діяльності, як «сприяння
  обороноздатності та мобілізаційній готовності країни, захисту населення у
  надзвичайних ситуаціях мирного і воєнного часу» (п. 15 ч. 2 ст. 3 Закону «Про
  благодійну діяльність та благодійні організації»). Формулювання статуту, яке
  дозволяє БО займатись «усіма визначеними законом сферами благодійної
  діяльності», також вважається прийнятним.
</p>
