<p class="faq__text">
  Благодійні організації здійснюють діяльність  на підставі установчих
  документів, які можуть визначати особливості діяльності та припинення такої
  організації та не повинні суперечити законам України.
</p>
<p class="faq__text">
  Установчим документом благодійного товариства та благодійного фонду є статут.
  Установчим документом благодійної установи є установчий акт.
</p>
<p class="faq__text">
  Установчі документи благодійної організації затверджуються засновником
  (засновниками) благодійної організації або уповноваженими ними особами.
</p>
