<p class="faq__text">
  Законодавство не забороняє громадським об’єднанням здійснювати благодійну
  діяльність. Разом з тим, наполегливо рекомендуємо закріпити відповідний напрям
  діяльності безпосередньо в статуті ГО. При цьому благодійність має бути
  визначена не як основна мета ГО, а лише як один з додаткових напрямів. Якщо ГО
  буде займатись благодійністю без відповідного положення у статуті, існує ризик
  втрати статусу неприбутковості та додаткового нарахування податку на прибуток.
</p>
<p class="faq__text">
  Якщо ви плануєте системно займатись збором коштів у великих обсягах,
  рекомендуємо все-таки зареєструвати благодійну організацію
</p>
