<p class="faq__text">
  Дійсно, багато волонтерів зараз не реєструють організації та збирають кошти на
  особисті картки. Проте з точки зору податкового законодавства такі надходження
  можуть бути сприйняті ДПС як особисті доходи з подальшим нарахуванням 18% ПДФО
  та 1,5% військового збору на отримані суми.
</p>
<p class="faq__text">
  Порівняно з цим, <b>неприбуткова організація має низку серйозних переваг</b>.
  По-перше, благодійні надходження на рахунок неприбуткової організації не
  оподатковуються. По-друге, наявність зареєстрованої організації спрощує
  закупівлю речей за кордоном та їх ввезення в Україну, а також полегшує ведення
  договірної роботи. По-третє, створення юридичної особи дозволяє краще
  організувати внутрішні процеси та збільшує довіру людей до певного
  волонтерського колективу.
</p>
<p class="faq__text">
  Кожен волонтер сьогодні всіма силами прагне наблизити перемогу над агресором.
  Проте наближати цю перемогу краще у правильній організаційно-правовій формі.
  Вірно підібраний формат волонтерської діяльності дозволить не лише швидше
  перемогти у війні, а й уникнути небажаних юридичних проблем після її
  закінчення.
</p>
