<section>
  <div class="container">
    <p>
      Шукайте відповіді на ваші запитання, для цього ви можете скористатись
      пошуком
    </p>

    <form>
      <input type="text" />
    </form>

    <ul data-faq="list" class="faq__list">
      <li data-faq="item" class="faq__item">
        <p class="faq__subtitle">
          Чому волонтерам потрібно реєструватись офіційно?
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>

        <div class="faq__text-wrapper">
          <include src="./partials/faq/answear1.html"></include>
        </div>
      </li>

      <li data-faq="item" class="faq__item">
        <p class="faq__subtitle">
          Які є способи проводити збір грошової допомоги чи донатів на особисту
          картку волонтера офіційно і без сплати передбачених чинним
          законодавством податків?
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>

        <div class="faq__text-wrapper">
          <include src="./partials/faq/answear2.html"></include>
        </div>
      </li>

      <li data-faq="item" class="faq__item">
        <p class="faq__subtitle">
          Що таке статус неприбутковості?
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>

        <div class="faq__text-wrapper">
          <include src="./partials/faq/answear3.html"></include>
        </div>
      </li>

      <li data-faq="item" class="faq__item">
        <p class="faq__subtitle">
          Як отримати статус неприбутковості?
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>

        <div class="faq__text-wrapper">
          <include src="./partials/faq/answear4.html"></include>
        </div>
      </li>

      <li data-faq="item" class="faq__item">
        <p class="faq__subtitle">
          Чи має право благодійна організація збирати кошти на військові
          потреби?
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>

        <div class="faq__text-wrapper">
          <include src="./partials/faq/answear5.html"></include>
        </div>
      </li>

      <li data-faq="item" class="faq__item">
        <p class="faq__subtitle">
          Чи можна використовувати громадське об’єднання для благодійності?
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>

        <div class="faq__text-wrapper">
          <include src="./partials/faq/answear6.html"></include>
        </div>
      </li>

      <li data-faq="item" class="faq__item">
        <p class="faq__subtitle">
          Чи не легше просто збирати кошти на особисту картку і нічого не
          реєструвати?
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>

        <div class="faq__text-wrapper">
          <include src="./partials/faq/answear7.html"></include>
        </div>
      </li>

      <li data-faq="item" class="faq__item">
        <p class="faq__subtitle">
          Переваги та недоліки некомерційних організацій
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>

        <div class="faq__text-wrapper">
          <include src="./partials/faq/answear8.html"></include>
        </div>
      </li>

      <li data-faq="item" class="faq__item">
        <p class="faq__subtitle">
          Яка різниця між благодійною організацією і громадським об’єднанням?
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>

        <div class="faq__text-wrapper">
          <include src="./partials/faq/answear9.html"></include>
        </div>
      </li>

      <li data-faq="item" class="faq__item">
        <p class="faq__subtitle">
          Які основні відмінні риси громадських організацій та рухів від
          політичних партій?
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>

        <div class="faq__text-wrapper">
          <include src="./partials/faq/answear10.html"></include>
        </div>
      </li>

      <li data-faq="item" class="faq__item">
        <p class="faq__subtitle">
          На підставі яких установчих документів діють волонтерські організації?
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>

        <div class="faq__text-wrapper">
          <include src="./partials/faq/answear11.html"></include>
        </div>
      </li>

      <li data-faq="item" class="faq__item">
        <p class="faq__subtitle">
          Що мають містити установчі документи волонтерських організацій?
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>

        <div class="faq__text-wrapper">
          <include src="./partials/faq/answear12.html"></include>
        </div>
      </li>

      <li data-faq="item" class="faq__item">
        <p class="faq__subtitle">
          Що буде, якщо не зареєструватися в Реєстрі волонтерів?
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>

        <div class="faq__text-wrapper">
          <include src="./partials/faq/answear13.html"></include>
        </div>
      </li>

      <li data-faq="item" class="faq__item">
        <p class="faq__subtitle">
          Чи повинен благодійник - фізична особа, який внесений до Реєстру
          волонтерів, отримувати та зберігати документи?
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>

        <div class="faq__text-wrapper">
          <include src="./partials/faq/answear14.html"></include>
        </div>
      </li>
    </ul>
  </div>
</section>
