<section>
  <div class="types">
    <div class="types__generalinfo">
      <ul class="generalinfo__list">
        <li class="generalinfo__item info-item">
          <div class="info-item__box item-box">
            <p class="item-box__text">
              <span class="item-box__text--accent">Благодійні організації</span>
              є некомерційними організаціями, які складаються з добровольців, що
              діють на благо громади та виконують різноманітні благодійні
              проєкти та ініціативи. Такі організації є юридичними особами, які
              діють на підставі статуту або установчого акту, і мають багато
              переваг порівняно з іншими організаціями.
            </p>
            <p class="item-box__text">
              Однією з головних переваг є відсутність оподаткування благодійної
              допомоги, яку збирають благодійники.
            </p>
          </div>

          <div class="img-item__box">
            <picture class="img-item__image">
              <source
                srcset="
                  ./images/types/legal_entity_structure_desktop_1x.jpg 1x,
                  ./images/types/legal_entity_structure_desktop_2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/types/legal_entity_structure_tablet_1x.jpg 1x,
                  ./images/types/legal_entity_structure_tablet_2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/types/legal_entity_structure_mobile_1x.jpg 1x,
                  ./images/types/legal_entity_structure_mobile_2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 767px)"
              />
              <img
              class="img-item__image"
              src="./images/types/legal_entity_structure_mobile_1x.jpg"
              alt="Legal entity structure"
            />
            </picture>
          </div>
        </li>

        <li class="generalinfo__item info-item">
          <div class="info-item__box item-box">
            <p class="item-box__text">
              Крім того, волонтерські організації можуть бути включені до
              <span class="item-box__text--accent">
                <a href="#"
                  >Реєстру неприбуткових установ та організацій,</a
                ></span
              >
              що надає їм статусу неплатника податку на прибуток.
            </p>
            <p class="item-box__text">
              Волонтерські організації також можуть реалізовувати довготривалі
              благодійні програми спільно з великими корпораціями та
              міжнародними організаціями через
              <span class="item-box__text--accent"
                ><a href="#">програми Грантів.</a></span
              >
            </p>
          </div>

          <div class="img-item__image">
            <picture class="registration__card--image">
              <source
                srcset="
                  ./images/types/grants_desktop_1x.jpg 1x,
                  ./images/types/grants_desktop_2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/types/grants_tablet_1x.jpg 1x,
                  ./images/types/grants_tablet_2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/types/grants_mobile_1x.jpg 1x,
                  ./images/types/grants_mobile_2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 767px)"
              />
              <img
              class="img-item__image"
              src="./images/types/grants_mobile_1x.jpg"
              alt="Grants"
            />
            </picture>

          </div>
        </li>
      </ul>
    </div>

    <div class="types__description">
      <h3 class="types__description-title">Види волонтерських організацій</h3>
      <p class="types__description-text">
        <span class="types__description-text--accent"
          >Благодійна організація</span
        >
        може бути створена як благодійне товариство, благодійна установа,
        благодійний фонд чи громадська організація.
      </p>

      <ul class="description-list">
        <li class="description-item">
          <div class="icon">
            <div class="icon-svg">
              <svg>
                <use href="./images/types/icon-types.svg#icon-llc"></use>
              </svg>
            </div>
            <h4 class="description-item--title">Благодійне товариство</h4>
          </div>
          <p class="description-item--text">
            Визнається благодійна організація, яка створена не менше ніж двома
            засновниками та діє на підставі статуту. Такі організації є
            неприбутковими, тобто отримані кошти не спрямовуються на заробіток
            індивідуальних членів або засновників, а використовуються для
            досягнення благодійної мети.
          </p>
        </li>

        <li class="description-item">
          <div class="icon">
            <div class="icon-svg">
              <svg>
                <use href="./images/types/icon-types.svg#icon-entity"></use>
              </svg>
            </div>
            <h4 class="description-item--title">Благодійна установа</h4>
          </div>
          <p class="description-item--text">
            Це організація, яка отримує активи від засновників і використовує їх
            для благодійної діяльності. Установчий акт благодійної установи може
            бути заповітом. Засновники не беруть участі в управлінні благодійною
            установою. Дії благодійної установи базуються на установчому акті.
          </p>
        </li>

        <li class="description-item">
          <div class="icon">
            <div class="icon-svg">
              <svg >
                <use href="./images/types/icon-types.svg#icon-fund"></use>
              </svg>
            </div>

            <h4 class="description-item--title">Благодійний фонд</h4>
          </div>
          <p class="description-item--text">
            Має статут та управляється учасниками, що не зобов’язані передавати
            будь-які активи для досягнення цілей благодійної діяльності. Цю
            організацію може створити один чи кілька засновників. Активи
            благодійного фонду можуть формуватися учасниками та/або іншими
            благодійниками, а діяльність фонду базується на його статуті.
          </p>
        </li>

        <li class="description-item">
          <div class="icon">
            <div class="icon-svg">
              <svg >
                <use href="./images/types/icon-types.svg#icon-organization"></use>
              </svg>
            </div>

            <h4 class="description-item--title">Громадська організація</h4>
          </div>
          <p class="description-item--text">
            Добровільне об’єднання фізичних осіб або юридичних осіб приватного
            права для здійснення та захисту прав і свобод, задоволення
            суспільних, зокрема економічних, соціальних, культурних,
            екологічних, та інших інтересів.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
