section {
  display: flex;
  flex-direction: row;
}

.types__generalinfo {
  // outline: 1px solid green;
  padding-bottom: 40px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: calc(100%);
    // background-color: blueviolet;
    background-color: $bg_secondary;
  }
}
.generalinfo__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;

  @include tablet {
    gap: 48px;
  }
  @include desktop-first {
    gap: 60px;
  }
}

.generalinfo__item {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    flex-direction: row;
    gap: 24px;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}

.info-item__box {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    justify-content: center;
    flex-basis: calc(50% - 12px);
  }

  @include desktop-first {
    &:nth-child(even) {
      gap: 24px;
    }
  }
}

.item-box__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $primary;

  @include desktop-first {
    font-size: 18px;
  }
}

.item-box__text--accent {
  font-weight: 600;
  & a {
    display: inline;
    color: $accent_blue;
    text-decoration: underline;
  }
}

.img-item__box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  @include tablet {
    flex-basis: calc(50% - 12px);
  }
}

.img-item__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.types__description {
  padding-top: 40px;
}

.types__description-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 16px;
  @include tablet {
    margin-bottom: 24px;
  }
  @include desktop-first {
    font-size: 32px;
  }
}

.types__description-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 32px;
  @include tablet {
    font-size: 18px;
    margin-bottom: 40px;
  }
  @include desktop-first {
    font-size: 20px;
    margin-bottom: 48px;
  }
}

.types__description-text--accent {
  font-weight: 600;
}

.description-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px 24px;
  }
  @include desktop-first {
    gap: 48px 24px;
  }
}
.description-item {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    flex-basis: calc((100% - 24px) / 2);
  }
}
.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  &-svg {
 
    justify-content: center;
    background-color: $icon_bgcolor;
    border-radius: 50%;
    & svg { 
      width: 48px;
      height: 48px;
      @include desktop-first {
        width: 80px;
        height: 80px;
      }
    }
  }
}

.description-item--title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  @include tablet {
    font-size: 20px;
  }
}

.description-item--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
