<aside class="volunteer__aside">
  <div class="volunteer__aside-mini">
    <p class="volunteer__title">Види волонтерських організацій</p>
    <button class="volunteer__burger volunteer__burger--open">
      <svg
        class="volonteer__icon volonteer__icon--burger"
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.668 13.3334H28.3346M11.668 20H28.3346M11.668 26.6667H28.3346"
          stroke="#28303F"
          stroke-width="1.5"
          stroke-linecap="round"
        />
      </svg>
      <svg
        class="volonteer__icon volonteer__icon--cross"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15.0708 0.928981L0.928711 15.0711M15.0708 15.071L0.928711 0.928894"
          stroke="#28303F"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>
    </button>
  </div>
  <ul class="volunteer__butoons-list">
    <li class="volunteer__butoons-item">
      <input
        class="volunteer__input visually-hidden"
        checked
        type="radio"
        name="volunteer"
        id="types"
      />
      <label class="volunteer__label" for="types">
        Види волонтерських організацій
      </label>
    </li>
    <li class="volunteer__butoons-item">
      <input
        class="volunteer__input visually-hidden"
        type="radio"
        name="volunteer"
        id="register"
      />
      <label class="volunteer__label" for="register"> Реєстрація </label>
    </li>
    <li class="volunteer__butoons-item">
      <input
        class="volunteer__input visually-hidden"
        type="radio"
        name="volunteer"
        id="status"
      />
      <label class="volunteer__label" for="status">
        Статус волонтерської організації
      </label>
    </li>
    <li class="volunteer__butoons-item">
      <input
        class="volunteer__input visually-hidden"
        type="radio"
        name="volunteer"
        id="bank-account"
      />
      <label class="volunteer__label" for="bank-account">
        Відкриття банківсього рахунку
      </label>
    </li>
    <li class="volunteer__butoons-item">
      <input
        class="volunteer__input visually-hidden"
        type="radio"
        name="volunteer"
        id="nuances"
      />
      <label class="volunteer__label" for="nuances">
        Нюанси обліку та оподаткування
      </label>
    </li>
  </ul>

  <div class="volunteer__more-wrapper">
    <p class="volunteer__text">
      Фінансова звітність для волонтерських організацій <br />
      (юридичних осіб)
    </p>
    <a class="button button--blue" width="266" href="#">Детальніше</a>
  </div>
</aside>
