<section class="register-steps">
  <h2 class="register-steps__title">
    Кроки реєстрації волонтерської організації
  </h2>
  <div class="register-steps__img-cover">
    <picture>
      <source
        srcset="
          ./images/register-steps/register-steps.png    1x,
          ./images/register-steps/register-steps@2x.png 2x
        "
        type="image/jpeg"
      />
      <img
        src="./images/register-steps/register-steps.png"
        alt="Volunteer_for_adult"
      />
    </picture>
  </div>
  <ul class="register-steps__list">
    <li class="register-steps__item">
      <div class="register-steps__number-wrapper">
        <h3 class="register-steps__step-number">Крок №1</h3>
      </div>
      <h4 class="register-steps__step-title">
        Задокументувати статут (положення) юридичної особи
      </h4>
      <p class="register-steps__text">
        У статуті юридичної особи важливо чітко та максимально широко описувати
        цілі, мету, сфери діяльності організації, адже однією з основних умов
        статусу неприбутковості є здійснення витрат фонду виключно на статутні
        цілі та завдання.
      </p>
    </li>

    <li class="register-steps__item">
      <div class="register-steps__number-wrapper">
        <h3 class="register-steps__step-number">Крок №2</h3>
      </div>
      <h4 class="register-steps__step-title">
        Зібрати пакет необхідних документів
      </h4>
      <p class="register-steps__text">
        Зареєструвати БО чи ГО під час воєнного стану можливо. Для проведення
        реєстраційних дій можна звернутись до будь-якого ЦНАП в Україні,
        <a
          class="register-steps__step-link link"
          target="_blank"
          href="https://www.kmu.gov.ua/news/poryadok-derzhavnoyi-reyestraciyi-yuridichnih-osib-ta-fop-v-period-voyennogo-stanu"
          >контактні дані регіональних ЦНАП</a
        >.
      </p>
      <p class="register-steps__text">
        Перелік документів для реєстрації
        <a
          class="register-steps__step-link link"
          target="_blank"
          href="https://yankiv.com/ua/reyestratsiya-blagodijnogo-fondu-pokrokovyj-aktualnyj-algorytm/"
          >Благодійної організації</a
        >
        та
        <a
          class="register-steps__step-link link"
          target="_blank"
          href="https://psjust.gov.ua/https-psjust-gov-ua-%D0%B2%D1%96%D0%B4%D0%B4%D1%96%D0%BB-%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D0%B2%D0%BD%D0%BE%D1%97-%D1%80%D0%B5%D1%94%D1%81%D1%82%D1%80%D0%B0%D1%86%D1%96%D1%97-%D0%B4%D1%80%D1%83%D0%BA/%D0%BF%D0%B5%D1%80%D0%B5%D0%BB%D1%96%D0%BA-%D1%82%D0%B0-%D0%B7%D1%80%D0%B0%D0%B7%D0%BA%D0%B8-%D0%B4%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%96%D0%B2/"
          >Громадської організації</a
        >.
      </p>
      <p class="register-steps__text">
        <a
          class="register-steps__step-link link"
          target="_blank"
          href="https://guide.diia.gov.ua/thematic-area/diialnist-biznesu-ta-hromadskykh-formuvan"
          >Про діяльність бізнесу та громадських формувань у додатку та сайті
          “Дія”</a
        >.
      </p>
    </li>

    <li class="register-steps__item">
      <div class="register-steps__number-wrapper">
        <h3 class="register-steps__step-number">Крок №3</h3>
      </div>
      <h4 class="register-steps__step-title">
        Отримати статус неприбутковості
      </h4>
      <p class="register-steps__text">
        Включення до
        <a
          class="register-steps__step-link link"
          target="_blank"
          href="https://cabinet.tax.gov.ua/registers/non-profit"
          >Реєстру неприбуткових організацій</a
        >
        є додатковою процедурою, що здійснюється місцевими управліннями ДПС на
        підставі окремої заявки на неприбутковість по формі №1-РН до місцевої
        податкової. Таку заявку можна подати на місці у паперовій формі або ж
        дистанційно через
        <a
          class="register-steps__step-link link"
          target="_blank"
          href="https://www.kmu.gov.ua/service/otrimannya-oznaki-nepributkovosti"
          >електронний кабінет платника</a
        >
        . 
      </p>
      <p class="register-steps__text">
        <strong
          ><span class="register-steps__text--red">Важливо!!!</span> Для
          отримання позитивного рішення ДПС статут організації має відповідати
          вимогам п. 133.4 Податкового кодексу України.</strong
        >
      </p>
    </li>

    <li class="register-steps__item">
      <div class="register-steps__number-wrapper">
        <h3 class="register-steps__step-number">Крок №4</h3>
      </div>
      <h4 class="register-steps__step-title">Відкрити банківський рахунок</h4>
      <p class="register-steps__text">
        Волонтерська організація може відкрити банківський рахунок в будь-якому
        банку України, тарифи та умови співпраці якого найбільш прийнятні для
        діяльності фонду. 
      </p>
      <p class="register-steps__text">
        Більше детальніше про умови відкриття рахунку та перелік документів
        можно ознайомитись на сторінці
        <a href="#volonteer_organization" data-action="radio-bank-account" class="register-steps__step-link link">
          Відкриття банківського рахунку</a
        >.
      </p>
    </li>

    <li class="register-steps__item">
      <div class="register-steps__number-wrapper">
        <h3 class="register-steps__step-number">Крок №5</h3>
      </div>
      <h4 class="register-steps__step-title">
        Отримати статус волонтерської організації
      </h4>
      <p class="register-steps__text">
        Для отримання статусу волонтерської організації юридична особа 
        звертається до Міністерства соціальної політики України з письмовою
        заявою від імені цієї юридичної особи.
      </p>
      <div class="register-steps__lists-wrapper">
        <div class="register-steps__list-wrapper">
          <h4 class="register-steps__step-title">У заяві  зазначаються:</h4>
          <ul class="step-list">
            <li class="step-list__item">
              <p class="register-steps__text">
                назва юридичної особи, яка бажає отримати статус волонтерської
                організації;
              </p>
            </li>
            <li class="step-list__item">
              <p class="register-steps__text">
                її місцезнаходження; поштова адреса;
              </p>
            </li>
            <li class="step-list__item">
              <p class="register-steps__text">поштова адреса;</p>
            </li>
            <li class="step-list__item">
              <p class="register-steps__text">
                номери засобів зв'язку, а також, за наявності, адреси офіційного
                веб-сайту в мережі Інтернет, електронної пошти.
              </p>
            </li>
          </ul>
        </div>
        <div class="register-steps__list-wrapper">
          <h4 class="register-steps__step-title">
            До заяви  також  подаються:
          </h4>
          <ul class="step-list">
            <li class="step-list__item">
              <p class="register-steps__text">
                витяг  з  Єдиного  державного  реєстру юридичних  осіб  та 
                фізичних  осіб  - підприємців;
              </p>
            </li>
            <li class="step-list__item">
              <p class="register-steps__text">
                копія статуту (положення) юридичної особи (завірена в
                установленому порядку).
              </p>
            </li>
          </ul>
        </div>
      </div>
    </li>

    <li class="register-steps__item">
      <div class="register-steps__number-wrapper">
        <h3 class="register-steps__step-number">Крок №6</h3>
      </div>
      <h4 class="register-steps__step-title">
        Задокументувати залучення до своєї діяльності волонтерів для провадження
        волонтерської діяльності
      </h4>
      <p class="register-steps__text">
        Для оприлюднення (поширення) на веб-сайті Нацсоцслужби наявної
        інформації про організації та установи, що залучають до своєї діяльності
        волонтерів, такі організації та установи подають відповідний лист у
        довільній формі до
        <a
          class="register-steps__step-link link"
          target="_blank"
          href="https://nssu.gov.ua/volonterstvo"
          >Національної соціальної сервісної служби України</a
        >.
      </p>
      <p class="register-steps__text">
        Електронна адреса для звернень громадян:</br>
        <a
          class="register-steps__step-link link"
          target="_blank"
          href="mailto:info@nssu.gov.ua"
          >info@nssu.gov.ua</a
        ></br>
        Телефон :
        <a
          class="register-steps__step-link link"
          target="_blank"
          href="tel:0442898789"
          >(044) 289 87 89</a
        >
      </p>
    </li>

    <li class="register-steps__item">
      <div class="register-steps__number-wrapper">
        <h3 class="register-steps__step-number">Крок №7</h3>
      </div>
      <h4 class="register-steps__step-title">
        Подавати податкову звітність раз на рік
      </h4>
      <p class="register-steps__text">
        Необхідно подати Звіт про використання доходів (прибутків) неприбуткової
        організації (форма звіту затверджена
        <a
          class="register-steps__step-link link"
          target="_blank"
          href="https://ips.ligazakon.net/document/view/RE29062?utm_source=biz.ligazakon.net&utm_medium=news&utm_content=bizpress01"
          >Наказом Міністерства фінансів України № 553 від 17.06.2016 р.)</a
        >. Звіт подається до контролюючого органу протягом 60 календарних днів,
        що настають за останнім календарним днем звітного (податкового) року.
      </p>
      <p class="register-steps__text">
        Разом зі Звітом про використання доходів (прибутків) подається річна
        фінансова звітність, яка є додатком та невід'ємною частиною звіту.
      </p>
    </li>
  </ul>
</section>
