<section class="grants-types">
  <div class="grants-types__container">
    <h2 class="grants-types__title">
      Грантові заявки поділяються на одноетапні та двоетапні.
    </h2>

    <div class="grants-types__box">
      <div class="grants-types-box__list--withtitle">
        <div class="grants-types__subtitle--box">
          <div class="grants-types__subtitle--box__svg">
            <svg>
              <use
                href="./images/grants-types/icon-grant_types.svg#icon-leaves"
              ></use>
            </svg>
          </div>
          <h3 class="grants-types__subtitle">Одноетапна заявка.</h3>
        </div>
        <p class="grants-types-box__list--text">
          Це та, у якій ви детально робите опис вашого проєкту та додаєте
          розширений плановий бюджет.
        </p>
        <div class="grants-types-box__image-thumb">
          <picture class="grants-types-box__card--image">
            <source
              srcset="
                ./images/grants-types/grants-types_desktop_1x.jpg 1x,
                ./images/grants-types/grants-types_desktop_2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/grants-types/grants-types_tablet_1x.jpg 1x,
                ./images/grants-types/grants-types_tablet_2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/grants-types/grants-types_mobile_1x.jpg 1x,
                ./images/grants-types/grants-types_mobile_2x.jpg 2x
              "
              type="image/jpeg"
              media="(max-width: 767px)"
            />
            <img
              class="grants-types-box__card--image"
              src="./images/grants-types/grants-types_mobile_1x.jpg"
              alt="love ua"
            />
          </picture>
        </div>
      </div>

      <div class="grants-types-box__list--withtitle">
        <div class="grants-types__subtitle--box">
          <div class="grants-types__subtitle--box__svg">
            <svg>
              <use
                href="./images/grants-types/icon-grant_types.svg#icon-leaves"
              ></use>
            </svg>
          </div>
          <h3 class="grants-types__subtitle">Двоетапна заявка.</h3>
        </div>
        <p class="grants-types-box__list--text">
          Зазвичай її використовують великі міжнародні організації-грантодавці.
          У цій заявці ви спершу повинні подати проєктну пропозицію
          (концептуальну записку) з коротким описом проєкту, де зазвичай
          потрібно вказати таку інформацію:
        </p>
        <ul class="grants-types-box__list">
          <li class="grants-types-box__list--item-with-icon">
            дані про організацію;
          </li>
          <li class="grants-types-box__list--item-with-icon">
            проблема, яку має вирішити проєкт;
          </li>
          <li class="grants-types-box__list--item-with-icon">
            мета та завдання проєкту;
          </li>
          <li class="grants-types-box__list--item-with-icon">
            ключова аудиторія та бенефіціари;
          </li>
          <li class="grants-types-box__list--item-with-icon">
            очікувані результати проекту;
          </li>
          <li class="grants-types-box__list--item-with-icon">
            основні активності, заплановані в межах проєкту (дуже стисло);
          </li>
          <li class="grants-types-box__list--item-with-icon">
            загальна вартість проєкту без детального бюджету.
          </li>
        </ul>
        <p class="grants-types-box__list--text">
          Якщо вас відберуть, наступним кроком необхідно буде надіслати заявку
          розширеного типу.
        </p>
      </div>
    </div>
  </div>
</section>
