.individual-types__container {
  display: flex;
  flex-direction: column;
}
.individual-types__title {
  font-weight: 600;
  font-size: 20px;
  color: $primary;
  margin-bottom: 16px;
  @include tablet {
    max-width: 870px;
  }
  @include desktop-first {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
.individual-types__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $primary;
  margin-bottom: 32px;
  @include tablet {
    max-width: 870px;
    margin-bottom: 48px;
  }
  @include desktop-first {
    font-size: 18px;
    margin-bottom: 64px;
  }
}
.individual-types__box--general {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @include tablet {
    gap: 48px;
  }
  @include desktop-first {
    gap: 64px;
  }
}
.individual-types__box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  gap: 16px;
  @include tablet {
    flex-direction: row;
    gap: 24px;
  }
  @include desktop-first {
    gap: 64px;
  }
  &.box-reverse {
    @include tablet {
      flex-direction: row-reverse;
    }
  }
}
.individual-types-box__list--withtitle {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include tablet {
    flex-basis: calc(50% - 12px);
  }
  @include desktop-first {
    gap: 24px;
    flex-basis: calc(52% - 12px);
  }
}
.individual-types-box__list--title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  @include desktop-first {
    font-size: 24px;
  }
}
.individual-types-box__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  &.sublist {
    list-style-type: disc;
    padding-left: 28px;
    margin-top: 16px;
  }
}
.individual-types-box__list--item-custom {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $primary;
  @include desktop-first {
    font-size: 18px;
  }
  & span {
    text-transform: uppercase;
    font-weight: 500;
    & a {
      display: inline;
      color: $accent_blue;
      text-transform: none;
      text-decoration: underline;
    }
  }
}

.individual-types-box__image-thumb {
  display: flex;
  width: 100%;
  min-height: 240px;
  @include tablet {
    flex-basis: calc(50% - 12px);
  }
  @include desktop-first {
    flex-basis: calc(45% - 12px);
  }
}
.individual-types-box__card--image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
