<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error</title>
    <link rel="stylesheet" href="styles/404.css" />
  </head>
  <body>
    <div class="main404">
      <h2>404</h2>
      <p>This page could not be found. Maybe try a search?</p>
      <input type="text" alt="Search for content" />
      <button></button>
    </div>
  </body>
</html>
