<section class="advantages">
    <div class="advantages__container container">
        <h2 class="visually-hidden ">Advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__list--item">
                <img src="./images/icon-1.png" alt="Icon" width="64" height="64">
                <a href="" class="advantages__list--header">Full Site Editing</a>
                <p class="advantages__list--text">No Coding required, Build your dream website</p>
                <a href="" class="advantages__list--footer"><span class="underline">Know</span> <span class="animation">More</span></a>
            </li>
            <li class="advantages__list--item">
                <img src="./images/icon-2.png" alt="Icon" width="64" height="64">
                <a href="" class="advantages__list--header">Prebuilt Demo</a>
                <p class="advantages__list--text">No Coding required, Build your dream website</p>
                <a href="" class="advantages__list--footer"><span class="underline">Know</span> <span class="animation">More</span></a>
            </li>
            <li class="advantages__list--item">
                <img src="./images/icon-3.png" alt="Icon" width="64" height="64">
                <a href="" class="advantages__list--header">Easy Customizable</a>
                <p class="advantages__list--text">No Coding required, Build your dream website</p>
                <a href="" class="advantages__list--footer"><span class="underline">Know</span> <span class="animation">More</span></a>
            </li>
            <li class="advantages__list--item">
                <img src="./images/icon-4.png" alt="Icon" width="64" height="64">
                <a href="" class="advantages__list--header">No Coding Required</a>
                <p class="advantages__list--text">No Coding required, Build your dream website</p>
                <a href="" class="advantages__list--footer"><span class="underline">Know</span> <span class="animation">More</span></a>
            </li>
        </ul>
    </div>
</section>