<section class="404">
  <div class="container404 container">
    <h1 class="head404">4<span class="zeroerror">0</span>4</h1>
    <p class="text404">This page could not be found. Maybe try a search?</p>
    <div class="search-row">
      <div class="search404">
        <form
          role="search"
          method="get"
          action="https://wp-themes.com/gutenify-base/"
          class="form404"
        >
          <div>
            <input
              type="search"
              name="s"
              value=""
              placeholder=""
              required=""
              class="input404"
            />

            <button type="submit" class="button404" aria-label="Search">
              <svg
                class="search-icon"
                width="24"
                height="24"
                viewBox="0 0 20 20"
              >
                <path
                  d="M13 5c-3.3 0-6 2.7-6 6 0 1.4.5 2.7 1.3 3.7l-3.8 3.8 1.1 1.1 3.8-3.8c1 .8 2.3 1.3 3.7 1.3 3.3 0 6-2.7 6-6S16.3 5 13 5zm0 10.5c-2.5 0-4.5-2-4.5-4.5s2-4.5 4.5-4.5 4.5 2 4.5 4.5-2 4.5-4.5 4.5z"
                ></path>
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
