<div
  class="container"
  style="
    display: flex;
    gap: 12px;
    padding: 15px 0;
    justify-content: center;
    flex-wrap: wrap;
  "
>
  <a href="#" class="button button--green">Кнопка посилання</a>
  <a href="#" class="button button--blue">Кнопка посилання</a>
  <button disabled class="button button--green">Кнопка Disable</button>
  <button disabled class="button button--blue">Кнопка Disable</button>
</div>

<!-- Links -->
<div
  class="container"
  style="
    display: flex;
    gap: 12px;
    padding: 15px 0;
    justify-content: center;
    flex-wrap: wrap;
  "
>
  <a href="#" class="link">Navigation link</a>
  <a href="#" class="link link--underline">Underline link</a>
</div>
<div
  style="
    display: flex;
    gap: 12px;
    padding: 15px 0;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #121011;
  "
>
  <a href="#" class="link link--white">Footer link</a>
</div>
