<section class="feedback">
  <div class="feedback__wrapper container">
    <div class="feedback__info-wrapper">
      <h2 class="feedback__title">Напишіть нам</h2>
      <p class="feedback__paragraph">
        Маєте питання щодо реєстрації волонтера або громадської організації?
        Напишіть нам, і ми з радістю допоможемо вам у будь-яких питаннях.
      </p>
    </div>

    <div class="feedback__inputform-wrapper">
      <form class="feedback__inputform">
        <input
          class="feedback_input feedback_input-name"
          type="text"
          name="name"
          placeholder="Ім'я"
        />
        <input
          class="feedback_input feedback_input-phone"
          type="text"
          name="phone_number"
          placeholder="Номер телефону"
        />
        <textarea
          class="feedback_input feedback_input-question"
          name="question"
          placeholder="Ваше запитання..."
        >
        </textarea>
      </form>
      <div class="feedback__btn">
        <a href="#" class="button button--green">Відправити</a>
      </div>
    </div>
  </div>
</section>
