<section class="feedback">
  <div class="feedback__wrapper container">
    <div class="feedback__info-wrapper">
      <h2 class="feedback__title"></h2>
      <p class="feedback__paragraph"></p>
    </div>

    <div class="feedback__inputform-wrapper">
      <form>
        <input
          class="feedback_input-name"
          type="text"
          name="name"
          placeholder="Ім'я"
        />
        <input
          class="feedback_input-phone"
          type="text"
          name="phone_number"
          placeholder="Номер телефону"
        />
        <input
          class="feedback_input-question"
          type="text"
          name="question"
          placeholder="Ваше запитання..."
        />
      </form>
      <div class="feedback__btn">
        <a href="#" class="button--green"></a>
      </div>
    </div>
  </div>
</section>
