<section class="statement">
  <div class="statement__container container">
    <h2 class="statement__title title__second">Фінансова звітність</h2>
    <div class="statement__wrapper">
        <div class="statement__thumb">
        <picture>
          <source
            srcset="
              ./images/financial-statement/schedule-desk-1x.jpg 1x,
              ./images/financial-statement/schedule-desk-2x.jpg 2x
            "
            media="(min-width: 1560px)"
          />
          <source
            srcset="
              ./images/financial-statement/schedule-tab-1x.jpg 1x,
              ./images/financial-statement/schedule-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/financial-statement/schedule-desk-1x.jpg 1x,
              ./images/financial-statement/schedule-desk-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/financial-statement/schedule-desk-1x.jpg"
            alt="Графік"
            width="769"
            height="400"
          />
        </picture>
        </div>
        <p class="statement__paragraph">
          Успішна діяльність волонтерської громади неможлива без чіткого ведення
          фінансової звітності. На нашому сайті ви дізнаєтесь, як правильно вести
          фінансові записи та звіти, що допоможе вам уникнути проблем з державними
          установами та забезпечить успішне функціонування волонтерської громади
        </p>
    </div>
    <ul class="statement__list">
      <li class="statement__list--item">
        <div>
            <h3 class="statement__subtitle">Волонтер</h3>
            <p class="statement__text">Раз на рік подається у ПДС декларація про майновий стан і доходи</p>
            <h4 class="statement__strong">Введення звітності:</h4>
            <ul>
              <li>
                <p>
                  необхідно зберігати всі накладні, чеки та інші форми підтвердження
                  передачі майна та/або коштів
                </p>
              </li>
              <li>
                <p>
                  крім безпосередніх витрат на волонтерськи проекти, необхідно
                  враховувати суми, які були витрачені на оренду приміщень,
                  комунальні послуги, послуги перевещень та доставок, тощо
                </p>
              </li>
              <li>
                <p>
                  необхідно мати документи на всі збори, які проводилися після 1
                  травня 2022 року
                </p>
              </li>
            </ul>
        </div>
        <a href="" class="statement__button button button--green">Детальніше</a>
      </li>
      <li class="statement__list--item">
        <div>
            <h3 class="statement__subtitle">Волонтерська організація</h3>
            <p class="statement__text">Раз на рік подається у ПДС декларація про майновий стан і доходи</p>
            <h4 class="statement__strong">Введення звітності:</h4>
            <ul>
              <li><p>звіт про податкові пільги</p></li>
              <li>
                <p>
                  звіт про те, як було використано кошти неприбуткової організації
                </p>
              </li>
              <li><p>звіт за формою 1ДФ (про доходи фізосіб)</p></li>
              <li>
                <p>
                  звітність до фондів соцстрахування (пенсійний, а в окремих
                  випадках – до зайнятості, тимчасової непрацездатності та нещасних
                  випадків)
                </p>
              </li>
              <li><p>фінзвітність та звіти в статистику</p></li>
            </ul>
        </div>
        <a href="" class="statement__button button button--blue">Детальніше</a>
      </li>
    </ul>
  </div>
</section>
