<header class="header">
  <div class="container header__container">
    <a height="19" href="#" class="link">Logo</a>
    <button class="menu-btn">
      <svg
        class="burger"
        width="20"
        height="16"
        viewBox="0 0 20 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.66797 1.33337H18.3346M1.66797 8.00004H18.3346M1.66797 14.6667H18.3346"
          stroke="#28303F"
          stroke-width="1.5"
          stroke-linecap="round"
        />
      </svg>
    </button>
    <div class="mobile-menu__backdrop">
      <nav class="header__nav">
        <button class="cross link">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.0708 0.928981L0.928711 15.0711M15.0708 15.071L0.928711 0.928894"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <p class="link header__nav-link dropdown-btn">
              Волонтер
              <svg
                class="dropdown-btn__icon"
                width="16"
                height="9"
                viewBox="0 0 16 9"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </p>

            <ul class="header__dropdown-list">
              <li class="header__nav-item">
                <a href="#" class="link">Інформація для волонтерів</a>
              </li>
              <li class="header__nav-item">
                <a href="#" class="link">
                  Інформація для волонтерських організацій
                </a>
              </li>
            </ul>
          </li>
          <li class="header__nav-item">
            <a href="#" class="link header__nav-link">Фінансова звітність</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="link header__nav-link">Гранти</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="link header__nav-link">Питання/Відповіді</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="link header__nav-link">Контакти</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
