<section class="hero">
    <div class="hero__container container">
        <div class="hero__content">
            <h1 class="titleMain">Онлайн помічник <br>для волонтерів</h1>
            <p class="paragraph">Це інформаційний ресурс, який надає волонтерам та громадськими організаціями необхідну інформацію для ефективного
            волонтерства та ведення фінансової звітност</p>
            <div class="hero__button--container">
                <button class="button">Волонтер</button> 
                <button class="button header__button">Волонтерська організація</button>
            </div>
        </div>
    </div>
</section>