<section class="hero">
    <div class="hero__container container">
        <div class="hero__content">
            <p class="hero__text"><span class="hero__text--accent">60 +</span> Pre-build Templates</p>
            <h1 class="hero__title">Build Amazing <br> Site For Your  <br>Business.</h1>
            <div class="hero__button--container">
                <button class="button">Buy Premium</button> 
                <button class="button header__button">Discover More</button>
            </div>
        </div>
    </div>
</section>