<section class="hero" id="about">
    <div class="hero__container container">
        <div class="hero__content">
            <h1 class="hero__title title__main">Онлайн помічник для волонтерів</h1>
            <p class="hero__paragraph paragraph">Це інформаційний ресурс, який надає волонтерам та громадськими організаціями необхідну інформацію для ефективного
            волонтерства та ведення фінансової звітностi</p>
            <div class="hero__button--container">
                <a href="" class="hero__button button button--green">Волонтер</a> 
                <a href="./volunteer-legal-entity.html" class="hero__button button button--blue">Волонтерська організація</a>
            </div>
        </div>
    </div>
</section>