<section class="registration">
  <div class="registration__container">
    <h2 class="registration__title">Офіційна реєстрація для волонтерів</h2>
    <p class="registration__paragraph">
      Реєстрація волонтерів - перший крок до зміни світу. На нашому сайті ви
      знайдете детальну інформацію про те, як зареєструватися як волонтер, що це
      означає та які переваги це дає
    </p>

    <div class="registration__wrapper">
      <ul class="registration__list">
        <li class="registration__list--item">
          <div class="registration__card--image-cover">

          <picture class="registration__card--image">
            <source
              srcset="
                ./images/registration/helpforadult_desktop_1x.jpg 1x,
                ./images/registration/helpforadult_desktop_2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 1560px)"
            />
            <source
              srcset="
                ./images/registration/helpforadult_tablet_1x.jpg 1x,
                ./images/registration/helpforadult_tablet_2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/registration/helpforadult_mobile_1x.jpg 1x,
                ./images/registration/helpforadult_mobile_2x.jpg 2x
              "
              type="image/jpeg"
              media="(max-width: 767px)"
            />
            <img
              class="registration__card--image"
              src="./images/registration/helpforadult_mobile_1x.jpg"
              alt="Volunteer_for_adult"
            />
          </picture>

          </div>

          <div class="registration__card-info">
            <h3 class="registration__card--title">Інформація для волонтерів</h3>
            <p class="registration__card--text">
              Якщо Ви бажаєте долучитися до волонтерської діяльності та
              дізнатися більше про волонтерство, цей розділ стане надійним
              помічником та допоможе зробити перші кроки на шляху до добрих
              справ.
            </p>

            <ul class="registration__sublist">
              <li class="registration__sublist--item">Кроки реєстрації</li>
              <li class="registration__sublist--item">Як подати документи?</li>
              <li class="registration__sublist--item">
                Ведення фінансової звітності
              </li>
              <li class="registration__sublist--item">
                Переваги реєстрації як волонтер
              </li>
            </ul>

            <div class="registration__btn">
              <a href="#" class="button button--green">Детальніше</a>
            </div>
          </div>
        </li>

        <li class="registration__list--item">
          <div class="registration__card--image-cover">
            <picture class="registration__card--image">
                <source
                  srcset="
                  ./images/registration/helporganization_desktop_1x.jpg 1x,
                  ./images/registration/helporganization_desktop_2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1560px)"
                />
                <source
                  srcset="
                  ./images/registration/helporganization_tablet_1x.jpg 1x,
                  ./images/registration/helporganization_tablet_2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/registration/helporganization_mobile_1x.jpg 1x,
                    ./images/registration/helporganization_mobile_2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 767px)"
                />
                <img
                class="registration__card--image"
                src="./images/registration/helporganization_mobile_1x.jpg"
                alt="registration volonteers organisation"
              />
              </picture>
          </div>

          <div class="registration__card-info">
            <h3 class="registration__card--title">
              Інформація для волонтерських організацій
            </h3>
            <p class="registration__card--text">
              Детальніше про кроки реєстрації для громадських організацій,
              переваги та можливості, які вони мають як волонтерська
              організація. Містить матеріали, що допоможуть громадським
              організаціям бути більш успішними в організації та координації
              волонтерської діяльності.
            </p>

            <ul class="registration__sublist">
              <li class="registration__sublist--item">
                Перелік документів для реєстрації
              </li>
              <li class="registration__sublist--item">
                Реєстрація волонтерської організації під час війни
              </li>
              <li class="registration__sublist--item">
                Відкриття банківського рахунку та подальша робота
              </li>
              <li class="registration__sublist--item">
                Нюанси обліку та оподаткування
              </li>
            </ul>

            <div class="registration__btn">
              <a href="#" class="button button--blue">Детальніше</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
