<section class="registration-volunteer">
  <div class="registration-volunteer__container">
    <strong>Чому волонтерам потрібно реєструватися офіційно:</strong>
    <p class="inline">
      волонтери з реєстру волонтерів, можуть легально не сплачувати податки. А
      ті волонтери, які збирають гроші просто на особисту картку — повинні
      сплачувати податки у розмірі щонайменше 18% від суми коштів, що надходить
      на рахунок , адже це вважається доходом фізичної особи. Несплата податків
      карається законом.
    </p>
    <h2>
      Отже реєстрація в реєстрі необхідна і здійснюється у відповідності до
      наступних кроків :
    </h2>
    <div class="important-aspects__thumb important-aspects__thumb--first">
      <picture>
        <source
          srcset="
            ./images/register-volunteer/schedule-desk-1x.jpg 1x,
            ./images/register-volunteer/schedule-desk-2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/register-volunteer/schedule-tab-1x.jpg 1x,
            ./images/register-volunteer/schedule-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/register-volunteer/schedule-mob-1x.jpg 1x,
            ./images/register-volunteer/schedule-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/register-volunteer/schedule-desk-1x.jpg"
          alt="Схема"
          width="870"
          height="702"
        />
      </picture>
    </div>
    <div class="register-volunteer__line line"></div>
    <div class="register-volunteer__wrapper">
      <div class="important-aspects__thumb">
        <picture>
          <source
            srcset="
              ./images/register-volunteer/form-desk-1x.jpg 1x,
              ./images/register-volunteer/form-desk-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/register-volunteer/form-tab-1x.jpg 1x,
              ./images/register-volunteer/form-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/register-volunteer/form-mob-1x.jpg 1x,
              ./images/register-volunteer/form-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/register-volunteer/form-desk-1x.jpg"
            alt="Схема"
            width="396"
            height="284"
          />
        </picture>
      </div>
      <div>
        <h2>Переваги реєстрації як волонтер:</h2>
        <p>
          Звільнення від оподаткування, яке передбачено Податковим кодексом, діє
          з цього ж дня, а також щодо звітного податкового року, що передує року
          реєстрації в Реєстру волонтерів.
        </p>
        <p class="special">
          Вищі ліміти розрахунку карткою НБУ може передбачити вищий ліміт
          розрахунку карткою або скасувати ліміт взагалі для осіб, які
          зареєстровані в Реєстрі волонтерів.
        </p>
      </div>
    </div>
  </div>
</section>
