<section class="registration">
  <div class="container">
    <h2 class="title__second registration__title">
      Офіційна реєстрація для волонтерів
    </h2>
    <p class="paragraph registration__paragraph registration__margin--big">
      Реєстрація волонтерів - перший крок до зміни світу. На нашому сайті ви
      знайдете детальну інформацію про те, як зареєструватися як волонтер, що це
      означає та які переваги це дає
    </p>
    <ul class="">
      <li class="">
        <div class="registration__thumb">
          <img
            class="registration__img"
            src="./images/registration/1.png"
            alt="Volunteer_for_adult"
          />
        </div>
        <h3 class="title__third registration__subtitle">
          Інформація для волонтерів
        </h3>
        <p class="paragraph registration__margin--small">
          Якщо Ви бажаєте долучитися до волонтерської діяльності та дізнатися
          більше про волонтерство, цей розділ стане надійним помічником та
          допоможе зробити перші кроки на шляху до добрих справ.
        </p>
        <ul class="registration__steps registration__margin--big">
          <li class="registration__step">
            <p class="paragraph">Кроки реєстрації</p>
          </li>
          <li class="registration__step">
            <p class="paragraph">Як подати документи?</p>
          </li>
          <li class="registration__step">
            <p class="paragraph">Ведення фінансової звітності</p>
          </li>
          <li class="registration__step">
            <p class="paragraph">Переваги реєстрації як волонтер</p>
          </li>
        </ul>
        <a href="#" class="button button--green registration__margin--big"
          >Детальніше</a
        >
      </li>
      <li class="">
        <div class="registration__thumb">
          <img
            class="registration__img"
            src="./images/registration/2.png"
            alt="Volunteer_for_adult"
          />
        </div>
        <h3 class="title__third registration__subtitle">
          Інформація для волонтерських організацій
        </h3>
        <p class="paragraph registration__margin--small">
          Детальніше про кроки реєстрації для громадських організацій, переваги
          та можливості, які вони мають як волонтерська організація. Містить
          матеріали, що допоможуть громадським організаціям бути більш успішними
          в організації та координації волонтерської діяльності.
        </p>
        <ul class="registration__steps registration__margin--big">
          <li class="registration__step">
            <p class="paragraph">Перелік документів для реєстрації</p>
          </li>
          <li class="registration__step">
            <p class="paragraph">
              Реєстрація волонтерської організації під час війни
            </p>
          </li>
          <li class="registration__step">
            <p class="paragraph">
              Відкриття банківського рахунку та подальша робота
            </p>
          </li>
          <li class="registration__step">
            <p class="paragraph">Нюанси обліку та оподаткування</p>
          </li>
        </ul>
        <a href="#" class="button button--blue">Детальніше</a>
      </li>
    </ul>
  </div>
</section>
