<section class="section faq__section">
  <div class="container faq__container">
    <h2 class="title__second faq__title">Питання /відповіді</h2>
    <ul data-faq="list" class="faq__list">
      <li data-faq="item" class="faq__item">
        <p class="faq__subtitle">
          Чому волонтерам потрібно реєструватись офіційно?
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>

        <p class="faq__text">
          Благодійні організації, які оформили статус неприбуткової організації
          та волонтери з реєстру волонтерів, можуть легально не сплачувати
          податки. А ті волонтери, які збирають гроші просто на особисту картку
          — повинні їх сплачувати, адже це вважається доходом фізичної особи.
          Несплата податків карається законом.
        </p>
      </li>
      <li data-faq="item" class="faq__item">
        <p class="faq__subtitle">
          Які треба подавати документи для реєстрації фізичної або юридичної
          особи?
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>

        <p class="faq__text">
          Благодійні організації, які оформили статус неприбуткової організації
          та волонтери з реєстру волонтерів, можуть легально не сплачувати
          податки. А ті волонтери, які збирають гроші просто на особисту картку
          — повинні їх сплачувати, адже це вважається доходом фізичної особи.
          Несплата податків карається законом.
        </p>
      </li>
      <li data-faq="item" class="faq__item">
        <p class="faq__subtitle">
          Як правильно надавати звітність?

          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>

        <p class="faq__text">
          Благодійні організації, які оформили статус неприбуткової організації
          та волонтери з реєстру волонтерів, можуть легально не сплачувати
          податки. А ті волонтери, які збирають гроші просто на особисту картку
          — повинні їх сплачувати, адже це вважається доходом фізичної особи.
          Несплата податків карається законом.
        </p>
      </li>
      <li data-faq="item" class="faq__item">
        <p class="faq__subtitle">
          Які переваги та недоліки некомерційних організації?
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.45834L9.16706 6.89168C8.52539 7.53334 7.47539 7.53334 6.83372 6.89168L1.40039 1.45834"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>

        <p class="faq__text">
          Благодійні організації, які оформили статус неприбуткової організації
          та волонтери з реєстру волонтерів, можуть легально не сплачувати
          податки. А ті волонтери, які збирають гроші просто на особисту картку
          — повинні їх сплачувати, адже це вважається доходом фізичної особи.
          Несплата податків карається законом.
        </p>
      </li>
    </ul>
    <a href="#" class="button button--green">Детальніше</a>
  </div>
</section>
