<section class="section section--light-green advice__section">
  <div class="container">
    <h2 class="advice__title">Поради для благодійників</h2>
    <ul class="advice__list">
      <li class="advice__item advice__item--grid1">
        <div class="advice__item-img"></div>
        <p class="advice__text">
          Потурбуйтеся, щоб місце, у якому ви волонтерите, було безпечне або
          спорядіть себе засобами захисту
        </p>
      </li>
      <li class="advice__item advice__item--grid2">
        <div class="advice__item-img"></div>
        <p class="advice__text">
          Не піддавайтесь паніці. Діяти слід розсудливо та виважено
        </p>
      </li>
      <li class="advice__item advice__item--grid3">
        <div class="advice__item-img"></div>
        <p class="advice__text">
          Не бійтеся просити про допомогу, багато не байдужих людей поряд
        </p>
      </li>
      <li class="advice__item advice__item--grid4">
        <div class="advice__item-img"></div>
        <p class="advice__text">
          Сконцентруйтеся на одному напрямку. Оцінюйте свої можливості правильно
          та пам’ятайте, що врятувати весь світ неможливо
        </p>
      </li>
      <li class="advice__item advice__item--grid5">
        <div class="advice__item-img"></div>
        <p class="advice__text">
          Робіть те, що гарно виходить. Якщо вмієте смачно готувати — готуйте.
          Водите машину — будьте водієм
        </p>
      </li>
      <li class="advice__item advice__item--grid6">
        <div class="advice__item-img"></div>
        <p class="advice__text">
          Допоможіть ближнім. Спочатку потрібно допомагати тим, хто поруч, і хто
          дійсно потребує допомоги. Це можу бути сусід, в якого немає грошей на
          їжу або бабуся, в якої немає чим обігрітися.
        </p>
      </li>
    </ul>
  </div>
</section>
