<section class="documents">
  <h2 class="documents__title">
    Для реєстрації в реєстрі волонтерів підготуй наступні документи:
  </h2>
  <ol class="documents__list">
    <li class="documents__item">
      <p>Копія паспорту</p>
    </li>
    <li class="documents__item">
      <p>Копія ідентифікаційного коду волонтера</p>
    </li>
    <li class="documents__item">
      <p>
        Довідка з банку про номер рахунку, або реквізити рахунку. Через портал
        електронних послуг «Дія» достатньо  подати заяву із зазначенням
        реквізитів рахунку, відкритого на ім’я волонтера, що призначений для
        здійснення благодійної діяльності, без надання банківської довідки, що
        передбачено чинною нормою.
      </p>
      <div class="documents__strong">
        <strong
          >ВАЖЛИВО!  Перед початком збору документів треба відкрити окремий
          рахунок у банку. У заяві про реєстрацію волонтера необхідно вказати
          номер банківського рахунку, на який планується збирати кошти. Важливо
          пам’ятати, що звільнення благодійних внесків від оподаткування
          поширюється лише на гроші, які надходять на вказаний у заяві рахунок.
        </strong>
        <p>
          За допомогою з відкриттям банківського рахунку можна звернутись до
          консультанта у банку.
        </p>
      </div>
    </li>
    <li class="documents__item">
      <p>
        Заява  форми (№ 1-РВ)  подається до будь-якого територіального відділу
        податкової служби України, незалежно від місця проживання чи місця
        знаходження фізичної особи
      </p>
    </li>
  </ol>
  <div class="documents__statement-wrapper">
    <div class="documents__statement-info-wrapper">
      <h3>ЗАЯВА форма №1-РВ</h3>
      <p>
        Детальніше про документи та процес реєстрації
        <a
          class="register-steps__step-link register-steps__step-link--blue link"
          href="https://zakon.rada.gov.ua/laws/show/z1471-14#n108"
          ><b>можна почитати</b></a
        >
        в Порядку формування та ведення реєстру: там само є і зразок заяви на
        включення до нього.
      </p>
      <a
        href="https://zakon.rada.gov.ua/laws/file/text/103/f434839n191.doc"
        class="button button--green"
        >Завантажити заяву</a
      >
    </div>
    <div class="documents__statement-img-wrapper">
      <img
        width="370"
        srcset="
          ./images/documents/statement.jpg    1x,
          ./images/documents/statement@2x.jpg 2x
        "
        src="./images/documents/statement.jpg"
        alt="Мобільні додатки"
      />
    </div>
  </div>
</section>
