.button {
  display: block;
  box-sizing: initial;
  padding: 24px 23px;
  width: 306px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: $secondary;
  border-radius: 10px;
  border-width: 4px;
  border-style: solid;

  transition: background-color 300ms $cubic-bezier, color 300ms $cubic-bezier;

  &--green {
    background-color: $accent_green;
    border-color: $accent_green;
  }

  &--blue {
    background-color: $accent_blue;
    border-color: $accent_blue;
  }

  &:hover {
    background-color: $secondary;
  }

  &--green:hover {
    color: $accent_green;
  }

  &--blue:hover {
    color: $accent_blue;
  }

  &:disabled {
    color: $button_disabled_text_color;
  }

  &--green:disabled {
    background-color: $button_disabled_bg_green;
    border-color: $button_disabled_bg_green;
  }

  &--blue:disabled {
    background-color: $button_disabled_bg_blue;
    border-color: $button_disabled_bg_blue;
  }
}
