.container {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0 auto;
  @include mobile {
    max-width: 480px;
  }
  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
  }
}
