.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  @include mobile {
    max-width: 480px;
  }
  @include tablet {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @include desktop-first {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @include desktop {
    max-width: 1590px;
  }
}
