.link {
  transition: color 300ms $cubic-bezier;
  color: $primary;

  &--underline {
    text-decoration: underline;
    font-weight: 600;
  }

  &--white {
    color: $secondary;
  }

  &:hover {
    color: $accent_green;
  }
}
