.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;
  gap: 60px;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  color: $dark;
}
