<section class="individual-types">
  <div class="individual-types__container">
    <h2 class="individual-types__title">Що потрібно зробити щоб зареєструватись в Реєстрі волонтерів:</h2>
    <p class="individual-types__text">Реєстр волонтерів веде Державна податкова служба. Щоб зареєструватись, потрібно подати документи особисто (можна подати до будь-якого органу податкової служби) або поштою (до органу ДПС за місцем реєстрації).</p>

    <div class="individual-types__box--general">

      <div class="individual-types__box box-reverse">
        <div class="individual-types-box__image-thumb">
            <picture class="individual-types-box__card--image">
              <source
                srcset="
                  ./images/individual-register/register-offline_desktop_1x.jpg 1x,
                  ./images/individual-register/register-offline_desktop_2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/individual-register/register-offline_tablet_1x.jpg 1x,
                  ./images/individual-register/register-offline_tablet_2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/individual-register/register-offline_mobile_1x.jpg 1x,
                  ./images/individual-register/register-offline_mobile_2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 767px)"
              />
              <img
                class="individual-types-box__card--image"
                src="./images/individual-register/register-offline_mobile_1x.jpg"
                alt="register-offline"
              />
            </picture>
          </div>
        <div class="individual-types-box__list--withtitle">
          <h4 class="individual-types-box__list--title">офлайн</h4>
          <ul class="individual-types-box__list">
            <li class="individual-types-box__list--item-custom"><span>Крок 1: </span>Завітати до найближчого відділу податкової служби
            </li>
            <li class="individual-types-box__list--item-custom"><span>Крок 2: </span>Заповнити Заяву форми (№ 1-РВ)</li>
            <li class="individual-types-box__list--item-custom"><span>Крок 3: </span>Подати документи (копія паспорту та ідентифікаційного коду волонтера)</li>
            <li class="individual-types-box__list--item-custom"><span>Крок 4: </span>Очикувати повідомлення про включення до Реєстру волонтерів</li>
          </ul>
        </div>

      </div>

      <div class="individual-types__box">
        <div class="individual-types-box__image-thumb">
            <picture class="individual-types-box__card--image">
              <source
                srcset="
                  ./images/individual-register/register-online_desktop_1x.jpg 1x,
                  ./images/individual-register/register-online_desktop_2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/individual-register/register-online_tablet_1x.jpg 1x,
                  ./images/individual-register/register-online_tablet_2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/individual-register/register-online_mobile_1x.jpg 1x,
                  ./images/individual-register/register-online_mobile_2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 767px)"
              />
              <img
                class="individual-types-box__card--image"
                src="./images/individual-register/register-online_mobile_1x.jpg"
                alt="register-online"
              />
            </picture>
        </div>

        <div class="individual-types-box__list--withtitle">
          <h4 class="individual-types-box__list--title">онлайн</h4>
          <ul class="individual-types-box__list">
            <li class="individual-types-box__list--item-custom"><span>Крок 1: </span>Зареєструватись в Електронному кабінеті платника податків <span><a href="https://cabinet.tax.gov.ua/login">https://cabinet.tax.gov.ua/login</a></span>
            </li>
            <li class="individual-types-box__list--item-custom"><span>Крок 2: </span>Подати заяву в розділі “Ведення звітності” за кодом F1308301</li>
            <li class="individual-types-box__list--item-custom"><span>Крок 3: </span>Очікувати повідомлення про включення до Реєстру волонтерів</li>
          </ul>
        </div>

      </div>

      <div class="individual-types__box box-reverse">
        <div class="individual-types-box__image-thumb">
            <picture class="individual-types-box__card--image">
              <source
                srcset="
                  ./images/individual-register/register-post_desktop_1x.jpg 1x,
                  ./images/individual-register/register-post_desktop_2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/individual-register/register-post_tablet_1x.jpg 1x,
                  ./images/individual-register/register-post_tablet_2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/individual-register/register-post_mobile_1x.jpg 1x,
                  ./images/individual-register/register-post_mobile_2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 767px)"
              />
              <img
                class="individual-types-box__card--image"
                src="./images/individual-register/register-post_mobile_1x.jpg"
                alt="register-post"
              />
            </picture>
          </div>

        <div class="individual-types-box__list--withtitle">
          <h4 class="individual-types-box__list--title">поштою</h4>
          <ul class="individual-types-box__list">
            <li class="individual-types-box__list--item-custom"><span>Крок 1: </span>Підготувати копії документів
            <ul class="individual-types-box__list sublist">
                <li>Копія ідентифікаційного коду</li>
                <li>Копія паспорту</li>
            </ul>
            </li>
            <li class="individual-types-box__list--item-custom"><span>Крок 2: </span>Заповнити Заяву про включення до реєстру волонтерів</li>
            <li class="individual-types-box__list--item-custom"><span>Крок 3: </span>Відправити документи поштою (до органу ДПС за місцем реєстрації).</li>
            <li class="individual-types-box__list--item-custom"><span>Крок 4: </span>Очикувати повідомлення про включення до Реєстру волонтерів</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
