.advantages {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $bg_secondary;
  @include desktop {
    padding-top: 88px;
    padding-bottom: 88px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  @include tablet {
    gap: 24px;
    flex-direction: row;
  }
  & li {
    flex-basis: calc((100% - 0px) / 1);
    transition: transform 0.25s $cubic-bezier 0.3s;
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 24px;
    padding: 24px;
    @include tablet {
      gap: 16px;
      padding: 16px;
      flex-basis: calc((100% - 24px) / 2);
    }
    @include desktop {
      gap: 24px;
      padding: 24px;
      flex-basis: calc((100% - 72px) / 4);
    }
  }
  & li:hover {
    box-shadow: 1px 4px 20px -2px #0003;
    transform: translateY(-8px);
  }

  & > li > h3 {
    max-width: 200px;
  }

  & > li:nth-child(3) > h3 {
    max-width: 300px;
  }
}

.advantages__list--header {
  position: relative;
}

.advantages__list--header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: -50%;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.25s $cubic-bezier 0.3s;
}

.advantages__list--header:hover::before {
  visibility: visible;
  left: 0;
  transform: scaleX(1);
}
