.advantages {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--wp--preset--color--background-secondary);
}

.advantages__list {
  display: flex;
  gap: 32px;
}
.advantages__list--item {
  background-color: var(--wp--preset--color--background);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 30px;
}

.advantages__list--header {
  position: relative;
  margin-top: 10px;
  color: var(--wp--preset--color--foreground);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.36;
  font-family: var(--wp--preset--font-family--outfit);
  text-transform: capitalize;
}

.advantages__list--header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: -50%;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
}

.advantages__list--header:hover::before {
  visibility: visible;
  left: 0;
  transform: scaleX(1);
}

.advantages__list--text {
  margin-top: 10px;
  color: var(--wp--preset--color--body-text);
  font-size: 18px;
  line-height: 1.67;
  font-weight: 400;
  font-family: var(--wp--preset--font-family--inter);
}

.advantages__list--footer {
  position: relative;
  margin-top: 10px;
  color: var(--wp--preset--color--foreground);
  font-family: var(--wp--preset--font-family--inter);
  font-size: 18px;
  line-height: 1.67;
  font-weight: 700;
}

.advantages__list--footer .underline {
  position: relative;
}

.advantages__list--footer .underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  background-color: #000;
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
}

.animation {
  position: relative;
}

.animation::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: -60%;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
}

.animation:hover::before {
  visibility: visible;
  width: 110%;
  left: -10%;
  transform: scaleX(1);
}
