.bank {
  font-weight: 400;
  font-size: 16px;
  & strong {
    font-weight: 600;
  }

  & h3.special {
    margin-top: 83px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 24px;
  }
}

.bank__container {
  display: flex;
  flex-direction: column;
}

.bank__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 24px;
  @include tablet {
    font-size: 32px;
  }
  &--special {
    margin-top: 83px;
    position: relative;
  }
}

.bank__tablet--container {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 320px);
    grid-column-gap: 24px;
    grid-auto-rows: minmax(320px, auto);
    grid-template-areas: 'header sidebar' 'main sidebar';
  }
}

.item-1 {
  grid-area: header;
}

.item-2 {
  grid-area: sidebar;
}

.item-3 {
  grid-area: main;
}

.bank__text {
  margin-bottom: 16px;
  &--special {
    margin-top: 16px;
    margin-bottom: 0;
  }
}

.bank__styled {
  @include tablet {
    font-size: 18px;
    margin-bottom: 0;
  }
}
.bank__list {
  position: relative;
  & li {
    list-style-type: disc;
    margin-left: 29px;
  }

  &--clean li {
    list-style-type: none;
    margin-left: 8px;
    margin-bottom: 24px;
    display: flex;
    gap: 8px;
    @include tablet {
      margin-bottom: 40px;
      margin-left: 0;
    }
  }

  &--clean li:last-child {
    margin-bottom: 0;
  }
}

.bank__title--wrapper {
  margin-top: 32px;
  margin-bottom: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.bank__title--third {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.bank__strong--wrapper {
  position: relative;
  margin-top: 32px;
  margin-bottom: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.bank__strong {
  display: inline-block;
}

.bank-svg {
  align-self: center;
  height: 203px;
  margin-bottom: 16px;
  &--second {
    height: 160px;
    margin-top: 32px;
    margin-bottom: 0;
    text-align: center;
  }
}

.line::before {
  content: '';
  position: absolute;
  height: 3px;
  top: -40px;
  width: 99%;
  min-width: 272px;
  background-color: $bg_secondary;
  left: 50%;
  transform: translateX(-50%);
}

.line-second::before {
  content: '';
  position: absolute;
  height: 3px;
  top: -40px;
  width: 99%;
  min-width: 272px;
  background-color: $bg_secondary;
  left: 50%;
  transform: translateX(-50%);
}
.line--wrapper {
  position: relative;
}

.line--second::before {
  content: '';
  position: absolute;
  height: 3px;
  top: 40px;
  width: 99%;
  min-width: 272px;
  background-color: $bg_secondary;
  left: 50%;
  transform: translateX(-50%);
}

.bank__link {
  font-size: 16px;
  line-height: 1.5;
  text-decoration-line: underline;
  color: $accent_blue;
  align-self: flex-start;
  @include tablet {
    display: none;
  }
}

.bank__tablet--container2 {
  @include tablet {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 24px;
    max-height: 800px;
  }

  & li {
    @include tablet {
      max-width: 320px;
    }
  }

  & li:nth-child(3) {
    @include tablet {
      margin-bottom: 0;
    }
  }
  & li:nth-child(4) {
    @include tablet {
      margin-bottom: 50px;
    }
  }
}

.wrapper_top {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row-reverse;
    gap: 24px;
    align-items: center;
  }
}
.wrapper_bottom {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
}

.bank_svg-bott {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
}

.bank_svg-foot {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    gap: 23px;
    align-items: start;
    justify-content: center;
  }
  & > div {
  min-width: 320px;
  }
}
