.feedback {
  background-color: $bg_secondary;
  padding-top: 40px;
  padding-bottom: 40px;
  @include tablet {
    padding-top: 88px;
    padding-bottom: 88px;
  }
  @include desktop {
    padding-top: 124px;
    padding-bottom: 124px;
  }
}
.feedback__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include tablet {
    gap: 48px;
  }
  @include desktop {
    flex-direction: row;
    gap: 0;
  }
}

.feedback__info-wrapper {
  min-height: 156px;
  @include tablet {
    text-align: left;
    padding-right: 28px;
  }
  @include desktop {
    flex-basis: 50%;
    padding: 71px 140px 71px 0;
  }
}

.feedback__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  margin-bottom: 24px;
  color: $primary;
  @include tablet {
    font-size: 36px;
    line-height: calc(44 / 36);
    text-align: left;
    margin-bottom: 32px;
  }
  @include desktop {
    font-size: 48px;
    line-height: calc(58 / 48);
    margin-bottom: 24px;
  }
}
.feedback__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: $primary;

  @include tablet {
    font-size: 20px;
  }
  @include desktop {
    font-size: 24px;
  }
}
.feedback__inputform-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-basis: 50%;
  }
}
.feedback__inputform {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.feedback_input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-feature-settings: 'ss02' on;
  text-align: start;
  color: $primary;
  border: 1px solid $input_border_color;
  border-radius: 10px;
  padding: 20px 16px;

  transition: border-color 300ms $cubic-bezier,
    background-color 300ms $cubic-bezier, color 300ms $cubic-bezier;
  &::placeholder {
    color: $input_label_text_color;
    font-size: 16px;
  }
  &--filling,
  &--filled {
    border-color: $input_border_color;
  }
  &--error {
    border-color: $input_border_error;
  }
  &--enabled{
    border-color: $card_bg_blue;
  }

  &:focus,
  &:active {
    outline: 0;
    border-color: $input_border_active;
  }
}
.feedback_input-name,
.feedback_input-phone {
  height: 56px;
}
.feedback_input-question {
  height: 92px;
}
.feedback__btn a {
  @include tablet {
    margin: 0 auto;
    width: 328px;
  }
  @include desktop {
    margin: 0 auto 0 0;
    width: 380px;
  }
}
