.header {
  display: flex;
  flex-direction: column;
}

.header__first-container {
  padding: 10px;
  background-color: var(--wp--preset--color--secondary);
  font-family: var(--wp--preset--font-family--outfit);
  font-size: var(--wp--preset--font-size--small);

  & .container {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}

.header__contacts-list,
.header__social-list {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.header__time,
.header__contacts-item a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--wp--preset--color--white);
}

.header__social-list {
  margin-left: auto;
}

.header__social-item {
  & img {
    transition: transform 0.1s ease;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

.header__second-container {
  font-weight: 600;
  background-color: var(--wp--preset--color--white);

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
}

.header__title {
  font-family: var(--wp--preset--font-family--outfit);
  font-size: var(--wp--preset--font-size--medium);
  font-style: normal;
  font-weight: 600;

  & a {
    padding: 0 0 5px 0;
    color: var(--wp--preset--color--foreground);
    transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-size: 0 2px;
    background-position: 0 95%;
    background-repeat: no-repeat;
  }

  & a:hover {
    color: var(--wp--preset--color--primary);
    background-size: 100% 2px;
  }
}

.header__nav-list {
  display: flex;
  column-gap: 32px;
}

.header__nav-item {
  font-size: var(--wp--preset--font-size--small);
  & a {
    display: block;
    padding: 12px 0;
    color: var(--wp--preset--color--foreground);
  }

  &--dropdown {
    position: relative;
  }

  &--dropdown a {
    display: flex;
    align-items: center;
    column-gap: 4px;
    padding: 12px 0;
    color: var(--wp--preset--color--foreground);
  }
}

.header__dropdown-list {
  background-color: #fff;
  color: #000;
  align-items: normal;
  display: flex;
  flex-direction: column;
  height: 0;
  left: -1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  transition: opacity 0.1s linear;
  visibility: hidden;
  width: 0;
  transform: translateY(20px);
  pointer-events: none;
  max-height: none;

  & a {
    padding: 12px 15px;
  }

  .header__nav-item--dropdown:hover & {
    height: auto;
    min-width: 200px;
    opacity: 1;
    overflow: visible;
    visibility: visible;
    width: auto;
    transform: translateY(10px);
    pointer-events: auto;
    transition: transform 0.4s ease;
  }
}
