.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $secondary;
  box-shadow: 0 0 5px $accent_green;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms $cubic-bezier, transform 300ms $cubic-bezier;

  @include mobile-only {
    padding: 20px 0;
  }

  @include tablet-only {
    padding: 32px 0;
  }

  &--hidden {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet-only {
    position: relative;
  }
}

.menu-btn {
  display: flex;
  align-items: center;
  padding: 0;

  @include desktop {
    display: none;
  }
}

.burger {
  @include max-media(1559px) {
    width: 18px;
    height: 10px;
  }
}

.mobile-menu__backdrop {
  @include max-media(1559px) {
    transform: translateY(-110%);
    transition: transform 300ms $cubic-bezier, opacity 300ms $cubic-bezier;
    &--open {
      transform: translateY(0);
    }
  }

  @include mobile-only {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;

    background: linear-gradient(#0c5e3766, #54aa8007);

    &--open {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @include tablet-only {
    position: absolute;
    top: -10px;
    right: 24px;
  }
}

.header__nav {
  &-container {
    @include mobile-only {
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;

      padding-left: 16px;
      padding-right: 16px;
    }
  }

  @include max-media(1559px) {
    position: relative;
    padding: 40px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    background-color: $secondary;

    @include mobile-only {
      margin: 0 auto;
      max-width: 480px;

      box-shadow: 0 1px 8px $accent_green;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    @include tablet-only {
      border: 1px solid $accent_green;
      border-radius: 8px;
    }
  }
}

.cross {
  stroke: currentColor;
  z-index: 11;

  @include max-media(1559px) {
    position: absolute;
    top: 28px;
    right: 16px;
  }

  @include tablet-only {
    top: 16px;
    right: 16px;
  }

  @include desktop {
    display: none;
  }
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
  transition: all 300ms $cubic-bezier;
  @include desktop {
    flex-direction: row;
    align-items: center;
    column-gap: 60px;
    overflow-x: visible;
  }
}

.header__nav-item {
  position: relative;
}

.dropdown-btn {
  display: flex;
  column-gap: 10px;
  align-items: center;
  &__icon {
    stroke: currentColor;
    transition: transform 300ms $cubic-bezier;
  }

  &.active &__icon,
  &:hover &__icon {
    transform: rotateX(180deg);
  }
}

.header__nav-link {
  @include desktop {
    padding: 48px 0;
  }
}

.header__dropdown-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 16px;
  gap: 16px;
  opacity: 0;
  transition: transform 300ms $cubic-bezier, opacity 100ms $cubic-bezier;

  @include max-media(1559px) {
    transform: rotateX(90deg);
    transform-origin: top;
  }

  &--open {
    position: relative;
    opacity: 1;
    transform: rotateX(0);
  }

  @include desktop {
    position: absolute;
    bottom: 48px;
    left: 0;
    margin: 0;
    z-index: 10;
    transform-origin: top;
    transform: translateY(calc(100% + 18px)) rotateX(90deg);
    padding: 16px;
    width: max-content;
    border: 1px solid $accent_green;
    border-radius: 8px;
    background-color: $secondary;

    &--open,
    .dropdown-btn:hover + &,
    &:hover {
      opacity: 1;
      transform: translateY(calc(100% + 18px)) rotateX(0);
    }
  }
}
