.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 20px 0;
  width: 100%;
  background-color: $secondary;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  display: flex;
  align-items: center;
  padding: 0;
  @include desktop {
    display: none;
  }
}

.burger {
  width: 18px;
  height: 10px;
}

.mobile-menu__backdrop {
  @include mobile-only {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: #0c5e3766;

    transform: translateX(110%);
    transition: transform 300ms $cubic-bezier;
    &--open {
      transform: translateX(0);
    }
  }
}

.header__nav {
  @include max-media(1559px) {
    position: relative;
    top: 0;
    left: 0;
    padding: 40px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    background-color: $secondary;

    @include mobile-only {
      width: 100vw;
      box-shadow: 0 1px 8px $accent_green;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    @include tablet-only {
      border: 1px solid $accent_green;
      border-radius: 8px;
    }
  }
}

.cross {
  @include max-media(1559px) {
    position: absolute;
    top: 28px;
    right: 28px;
  }

  @include desktop {
    display: none;
  }
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
  transition: all 300ms $cubic-bezier;
  @include desktop {
    flex-direction: row;
  }
}

.header__nav-item {
  position: relative;
}

.header__nav-link {
}

.header__dropdown-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 16px;
  gap: 16px;

  opacity: 0;
  transform: translateX(-100%);
  transform-origin: top;
  transition: transform 300ms $cubic-bezier, opacity 100ms $cubic-bezier;

  &--open {
    position: relative;
    opacity: 1;
    transform: translateX(0);
  }

  @include desktop {
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: 10;
    transform: translateY(calc(100% + 18px));
    padding: 16px;
    width: max-content;
    border: 1px solid $accent_green;
    border-radius: 8px;
    background-color: $secondary;
  }
}

.link svg {
  stroke: currentColor;
  transition: transform 300ms $cubic-bezier;
}
.link.active svg {
  transform: rotateX(180deg);
}
