.hero-in-development {
  background-image: url(../images/in-development/clouds.svg);
  background-repeat: repeat;
  background-size: contain;
  height: 682px;
}

.hero-in-development_container {
  display: flex;
  flex-direction: column;
  background-image: url(../images/in-development/girl.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-top: 20px;

  padding-left: 40px;
  @include tablet {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    padding-left: 80px;
    background-position: bottom right;
  }
  @include desktop {
    flex-direction: row;
    background-position: bottom right 150px;
    padding-top: 256px;
    padding-left: 200px;
  }
}

.hero-in-development_text {
  color: $primary;
  font-size: 32px;
  font-weight: 500;
  @include tablet {
    font-size: 36px;
  }
  @include desktop {
    font-size: 40px;
  }
}
