.hero-in-development {
  background-image: url(../images/in-development/girl.svg),
    url(../images/in-development/clouds.svg);
  background-repeat: no-repeat, repeat;
  background-size: 90% 90%, cover;
  background-position: bottom left 230px, center center;
  position: relative;
  min-height: 300px;
  flex-grow: 1;
}

.hero-in-development__text {
  position: absolute;
  top: 40%;
  left: 10%;
  color: $primary;
  font-size: 32px;
  font-weight: 500;
  @include tablet {
    font-size: 36px;
  }
  @include desktop {
    font-size: 40px;
  }
}
