.resources {
  font-size: 16px;
  & h2 {
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 40px;
  }

  & h2.special {
    margin-top: 0;
  }
}

.resources__container {
  display: flex;
  flex-direction: column;
}

.resources__link {
  &.link {
    text-decoration: underline;
    font-weight: 600;
  }
  &--thin.link {
    font-weight: 400;
  }
  &--more {
    font-size: 16px;
    line-height: 1.5;
    text-decoration-line: underline;
    color: $accent_blue;
    align-self: flex-start;
    @include tablet {
      display: none;
    }
  }

  & > li {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    @include tablet {
      font-size: 18px;
    }
  }

  & > li:last-child {
    margin-bottom: 0;
  }
}

p.resources__text {
  margin-bottom: 24px;
  @include tablet {
    font-size: 16px;
  }
}

.resources__list--organizations {
  @include tablet {
    display: flex;
    gap: 24px;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 1250px;
  }

  @include desktop-first {
    max-height: 1200px;
  }

  @include desktop {
    max-height: 900px;
  }

  & > li {
    margin-bottom: 24px;
    @include tablet {
      max-width: calc((100% - 24px) / 2);
      margin-bottom: 0;
    }
    & p {
      margin-top: 16px;
    }
  }

  & > li:last-child {
    margin-bottom: 0;
  }
}

.resources__wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.resources__list--partners {
  & > li {
    margin-bottom: 16px;
    & p {
      margin-top: 16px;
    }
  }
  & > li:last-child {
    margin-bottom: 0;
  }

  & > li:first-child {
    @include tablet {
      margin-bottom: 0;
    }
  }
}

.resources__list--container {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 320px);
    column-gap: 24px;
    grid-template-areas:
      'item--1 item--2'
      'item--1 item--3'
      'item--1 item--4'
      'item--1 item--5';
  }
  @include desktop-first {
    align-self: center;
    grid-template-columns: repeat(2, 420px);
  }
}

.item--1 {
  grid-area: item--1;
}

.item--2 {
  grid-area: item--2;
}

.item--3 {
  grid-area: item--3;
}

.item--4 {
  grid-area: item--4;
}
.item--5 {
  grid-area: item--5;
}

.resources__thumb {
  margin-top: 24px;
}

.resources__wrapper--bottom {
  @include tablet {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  @include desktop {
    justify-content: center;
  }
  & ul {
    @include tablet {
      max-width: calc((100% - 24px) / 2);
    }
  }
}
