.faq__title {
  margin-bottom: 24px;
  text-align: center;

  @include tablet {
    margin-bottom: 48px;
  }

  @include desktop {
    margin-bottom: 70px;
  }
}

.faq__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    font-size: 20px;
  }
}

.faq__item {
  padding: 16px;
  border: 2px solid $faq_border_color;
  border-radius: 20px;

  @include desktop {
    padding: 20px 30px;
  }
}

.faq__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;

  cursor: pointer;
  transition: all 300ms $cubic-bezier;

  .faq__item.active & {
    margin-bottom: 16px;
  }

  @include tablet {
    font-size: 18px;
    column-gap: 34px;

    .faq__item.active & {
      margin-bottom: 20px;
    }
  }

  @include desktop {
    font-size: 20px;
    transition: color 300ms $cubic-bezier;
    .faq__item.active & {
      margin-bottom: 24px;
    }
  }

  & svg {
    margin-left: auto;
    stroke: currentColor;
    transition: transform 300ms $cubic-bezier;
  }

  .faq__item.active & svg {
    transform: rotateX(180deg);
  }

  &:hover {
    color: $accent_green;
  }
}

.faq__text {
  height: 1px;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;

  transition: all 300ms $cubic-bezier;

  .faq__item.active & {
    height: auto;
    padding-top: 16px;
    border-top: 1px solid $faq_border_color;
  }

  @include desktop {
    max-width: 768px;

    .faq__item.active & {
      padding-top: 16px;
    }
  }
}
