.faq__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;

  @include tablet {
    row-gap: 48px;
  }

  @include desktop-first {
    row-gap: 70px;
  }
}

.faq__title {
  margin-bottom: 24px;
  text-align: center;

  @include tablet {
    margin-bottom: 48px;
  }

  @include desktop-first {
    margin-bottom: 70px;
  }
}

.faq__list {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 16px;

  @include tablet {
    font-size: 18px;
  }

  @include desktop-first {
    font-size: 20px;
  }
}

.faq__item {
  padding: 16px;
  width: 100%;
  border: 2px solid $faq_border_color;
  border-radius: 20px;

  @include desktop-first {
    padding: 20px 30px;
  }
}

.faq__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;

  cursor: pointer;

  @include tablet {
    font-size: 18px;
    column-gap: 34px;
  }

  @include desktop-first {
    font-size: 20px;
    transition: color 300ms $cubic-bezier;
    .faq__item.active & {
      margin-bottom: 24px;
    }
  }

  & svg {
    margin-left: auto;
    min-width: 16px;
    stroke: currentColor;
    transition: transform 300ms $cubic-bezier;
  }

  .faq__item.active & svg {
    transform: rotateX(180deg);
  }

  &:hover {
    color: $accent_green;
  }
}

.faq__text-wrapper {
  border-color: $faq_border_color;
  transition-property: padding-top, border, margin-top;
  transition-duration: 300ms;
  transition-timing-function: $cubic-bezier;

  .faq__item.active & {
    margin-top: 16px;
    border-top: 1px solid $faq_border_color;
    padding-top: 16px;

    @include tablet {
      margin-top: 20px;
    }

    @include desktop-first {
      padding-top: 16px;
    }
  }
}

.faq__text {
  max-height: 0;
  margin-top: 0;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;

  transition-property: max-height;
  transition-duration: 300ms;
  transition-timing-function: $cubic-bezier;

  .faq__item.active & {
    max-height: 100vh;
  }

  @include desktop-first {
    max-width: 800px;
  }

  @include desktop {
    max-width: 768px;
  }
}
