<aside class="volonteer__aside">
  <ul class="volonteer__butoons-list">
    <li class="volonteer__butoons-item">
      <input
        class="volonteer__input visually-hidden"
        checked
        type="radio"
        name="volonteer"
        id="types"
      />
      <label class="volonteer__label" for="types">
        Види волонтерських організацій
      </label>
    </li>
    <li class="volonteer__butoons-item">
      <input
        class="volonteer__input visually-hidden"
        type="radio"
        name="volonteer"
        id="register"
      />
      <label class="volonteer__label" for="register"> Реєстрація </label>
    </li>
    <li class="volonteer__butoons-item">
      <input
        class="volonteer__input visually-hidden"
        type="radio"
        name="volonteer"
        id="status"
      />
      <label class="volonteer__label" for="status">
        Статус волонтерської організації
      </label>
    </li>
    <li class="volonteer__butoons-item">
      <input
        class="volonteer__input visually-hidden"
        type="radio"
        name="volonteer"
        id="bank-account"
      />
      <label class="volonteer__label" for="bank-account">
        Відкриття банківсього рахунку
      </label>
    </li>
    <li class="volonteer__butoons-item">
      <input
        class="volonteer__input visually-hidden"
        type="radio"
        name="volonteer"
        id="nuances"
      />
      <label class="volonteer__label" for="nuances">
        Нюанси обліку та оподаткування
      </label>
    </li>
  </ul>

  <div class="volonteer__more-wrapper">
    <p class="volonteer__text">
      Фінансова звітність для волонтерських організацій <br />
      (юридичних осіб)
    </p>
    <a class="button button--blue" width="266" href="#">Детальніше</a>
  </div>
</aside>
