<section class="status">
  <div >
    <div class="status__statusinfo">
        <h3 class="status-block__title">Перелік документів для отримання статусу волонтерської організації</h3>   
      <div class="statusinfo__list">
        <div class="statusinfo__item">
          <div class="statusinfo-item__textbox">
            <p class="statusitem-textbox__text">
              Для отримання статусу волонтерської організації юридична особа
              звертається до Міністерства соціальної політики України з
              письмовою заявою від імені цієї юридичної особи.
            </p>
          </div>
          <div class="statusimg-item__box">
            <picture class="statusimg-item__image">
              <source
                srcset="
                  ./images/status/status_desktop_1x.jpg 1x,
                  ./images/status/status_desktop_2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/status/status_tablet_1x.jpg 1x,
                  ./images/status/status_tablet_2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/status/status_mobile_1x.jpg 1x,
                  ./images/status/status_mobile_2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 767px)"
              />
              <img
                class="statusimg-item__image"
                src="./images/status/status_mobile_1x.jpg"
                alt="Hand and pencil"
              />
            </picture>
          </div>
        </div>
        <div class="statusinfobox__item">
          <div class="statusinfo-item__box">
            <p class="statusitem-box__text">У заяві  зазначаються:</p>
            <ul class="statusitem-box__text--list">
              <li class="statusitem-box__text--item">
                назва юридичної особи, яка бажає отримати статус волонтерської
                організації;
              </li>
              <li class="statusitem-box__text--item">її місцезнаходження;</li>
              <li class="statusitem-box__text--item">поштова адреса;</li>
              <li class="statusitem-box__text--item">
                номери засобів зв'язку, а також, за наявності, адреси офіційного
                веб-сайту в мережі Інтернет, електронної пошти.
              </li>
            </ul>
          </div>
          <div class="statusinfo-item__box">
            <p class="statusitem-box__text">До заяви також подаються:</p>
            <ul class="statusitem-box__text--list">
              <li class="statusitem-box__text--item">
                витяг з Єдиного державного реєстру юридичних осіб та фізичних
                осіб - підприємців;
              </li>
              <li class="statusitem-box__text--item">
                копія статуту (положення) юридичної особи (завірена в
                установленому порядку).
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="status__description">
      <h3 class="status-block__titlesecond">Важливо!</h3>
      <div class="statusinfo__list">
        <div class="statusinfo__item">
          <div class="statusimg-item__box">
            <img
              class="statusimg-item__image"
              src="./images/status/status_attention.png"
              alt="Attention"
            />
          </div>
          <div class="status-description__item">
            <div class="status-icon">
              <div class="status-icon__svg">
                <svg>
                  <use
                    href="./images/status/icon-status.svg#icon-attention"
                  ></use>
                </svg>
              </div>
              <h4 class="status-description__item--title">Терміни</h4>
            </div>
            <p class="status-description__item--text">
              Рішення про надання юридичній особі статусу волонтерської
              організації або про вмотивовану відмову в наданні цього статусу
              приймається не пізніше п'яти робочих днів з моменту подачі
              відповідної заяви і надсилається юридичній особі у письмовій
              формі.
            </p>
          </div>
        </div>
        <div class="statusinfo__item">
          <div class="status-description__item">
            <div class="status-icon">
              <div class="status-icon__svg">
                <svg>
                  <use
                    href="./images/status/icon-status.svg#icon-attention"
                  ></use>
                </svg>
              </div>
              <h4 class="status-description__item--title">Відмова</h4>
            </div>
            <p class="status-description__item--text">
              Рішення про відмову в наданні юридичній особі статусу
              волонтерської організації приймається у разі ненадання повної
              інформації та документів,або невідповідності поданих документів
              вимогам цього Закону.
            </p>
          </div>
          <div class="status-description__item">
            <div class="status-icon">
              <div class="status-icon__svg">
                <svg>
                  <use
                    href="./images/status/icon-status.svg#icon-attention"
                  ></use>
                </svg>
              </div>
              <h4 class="status-description__item--title">Застереження</h4>
            </div>
            <p class="status-description__item--text">
              Юридичній особі, якій не надано статус волонтерської організації,
              забороняється будь-яке використання слів "волонтерська
              організація" у своєму найменуванні та діяльності.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
